azure-website/SiriService/Web References/IsrService/accessibility0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.ifopt.org.uk/acsb" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ifopt.org.uk/acsb" version="0.2" id="accessibility" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:annotation>
    <xsd:appinfo>
      <Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
        <Aggregation>main schema</Aggregation>
        <Audience>e-service developers</Audience>
        <Coverage>Europe</Coverage>
        <Creator>Drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles, Kizoom. mailto:schemer@ifopt.org.uk</Creator>
        <Date>
          <Created>2006-08-12</Created>
        </Date>
        <Date>
          <Modified>2006-09-22</Modified>
        </Date>
        <Date>
          <Modified>2007-03-29</Modified>
        </Date>
        <Description>
          <p>Fixed Objects in Public Transport. This subschema defines common accessibility limitation types.</p>
        </Description>
        <Format>
          <MediaType>text/xml</MediaType>
          <Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
          <Description>XML schema, W3C Recommendation 2001</Description>
        </Format>
        <Identifier>{http://www.ifopt.org.uk/schemas/0.4/ifopt}ifopt_accessibility-v0.2.xsd</Identifier>
        <Language>[ISO 639-2/B] ENG</Language>
        <Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD</Publisher>
        <Rights>Unclassified                            <Copyright>CEN, Crown Copyright 2006, 2007</Copyright></Rights>
        <Source>
          <ul>
            <li>Derived from the SIRI standards.</li>
          </ul>
        </Source>
        <Status>Version 0.2 Draft for approval</Status>
        <Subject>
          <Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,Air transport, Airports,Ports and maritime transport, Ferries (marine),Public transport, Bus services, Coach services, Bus stops and stations,Rail transport, Railway stations and track, Train services, Underground trains,Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,Rail transport, Roads and road transport</Category>
          <Project>Cen TC278 WG3 SG6</Project>
        </Subject>
        <Title>IFOPT Fixed Objects in Public Transport - accessibility Types. </Title>
        <Type>Standard</Type>
      </Metadata>
    </xsd:appinfo>
    <xsd:documentation>Fixed Objects accessibility limitation types for IFOPT Fixed Objects in Public Transport </xsd:documentation>
  </xsd:annotation>
  <xsd:group name="MobilityLimitationGroup">
    <xsd:annotation>
      <xsd:documentation>Group of </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ref="WheelchairAccess" />
      <xsd:element minOccurs="0" ref="StepFreeAccess" />
      <xsd:element minOccurs="0" ref="EscalatorFreeAccess" />
      <xsd:element minOccurs="0" ref="LiftFreeAccess" />
    </xsd:sequence>
  </xsd:group>
  <xsd:simpleType name="AccessibilityEnumeration">
    <xsd:annotation>
      <xsd:documentation>Enumeration of values for an accessibility value.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="unknown" />
      <xsd:enumeration value="false" />
      <xsd:enumeration value="true" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:group name="SensoryLimitationGroup">
    <xsd:annotation>
      <xsd:documentation>Group Of sensory limitatiins</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="AudibleSignalsAvailable">
        <xsd:annotation>
          <xsd:documentation>Whether a Place has Audible signals for the viusally impaired.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" ref="VisualSignsAvailable">
        <xsd:annotation>
          <xsd:documentation>Whether a Place hasVisual signals for the hearing impaired.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="AccessibilityStructure">
    <xsd:annotation>
      <xsd:documentation>Type for accessibility</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="AccessibilityEnumeration" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:element default="false" name="WheelchairAccess" type="AccessibilityStructure">
    <xsd:annotation>
      <xsd:documentation>Whether a Place is wheelchair accessible.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element default="unknown" name="StepFreeAccess" type="AccessibilityStructure">
    <xsd:annotation>
      <xsd:documentation>Whether a Place has step free access.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element default="unknown" name="EscalatorFreeAccess" type="AccessibilityStructure">
    <xsd:annotation>
      <xsd:documentation>Whether a Place has escalator free access.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element default="unknown" name="LiftFreeAccess" type="AccessibilityStructure">
    <xsd:annotation>
      <xsd:documentation>Whether a Place has lift free access.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element default="false" name="AudibleSignalsAvailable" type="AccessibilityStructure">
    <xsd:annotation>
      <xsd:documentation>Whether a Place is wheelchair accessible.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element default="unknown" name="VisualSignsAvailable" type="AccessibilityStructure">
    <xsd:annotation>
      <xsd:documentation>Whether a Place has Visual signals availble for the free access.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element default="unknown" name="GuideDogAccess" type="AccessibilityStructure">
    <xsd:annotation>
      <xsd:documentation>Whether a Place allows gudie dog access.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>