azure-website/SiriService/Web References/IsrService/siri_FacilityMonitoring_service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.siri.org.uk/siri" xmlns:ifopt="http://www.ifopt.org.uk/ifopt" xmlns:acsb="http://www.ifopt.org.uk/acsb" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.siri.org.uk/siri" version="1.3" id="siri_FacilityMonitoring_service" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="ifopt/ifopt_allStopPlace-v0.3.xsd" namespace="http://www.ifopt.org.uk/ifopt" />
  <xsd:import schemaLocation="ifopt/ifopt_stop-v0.3.xsd" namespace="http://www.ifopt.org.uk/ifopt" />
  <xsd:import schemaLocation="acsb/acsb_all-v0.3.xsd" namespace="http://www.ifopt.org.uk/acsb" />
  <xsd:import schemaLocation="acsb/acsb_passengerMobility-v0.3.xsd" namespace="http://www.ifopt.org.uk/acsb" />
  <xsd:import schemaLocation="acsb/acsb_accessibility-v0.3.xsd" namespace="http://www.ifopt.org.uk/acsb" />
  <xsd:include schemaLocation="siri/siri_facility-v1.2.xsd" />
  <xsd:include schemaLocation="siri/siri_journey-v1.2.xsd" />
  <xsd:include schemaLocation="siri/siri_requests-v1.2.xsd" />
  <xsd:include schemaLocation="siri/siri_permissions-v1.1.xsd" />
  <xsd:annotation>
    <xsd:appinfo>
      <Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
        <Aggregation>main schema</Aggregation>
        <Audience>e-service developers</Audience>
        <Contributor> Cen TC278 WG3 SG7 Team</Contributor>
        <Coverage>Europe</Coverage>
        <Creator>Drafted for version 1.1 Cen TC278 WG3 SG7 Editor Christophe Duquesne Dryade mailto:christophe.duquesne@dryade.net
                                Drafted for version 1.0  Cen TC278 WG3 SG7 Editor Nicholas Knowles, Kizoom. mailto:schemer@siri.org.uk
                </Creator>
        <Date>
          <Created>2007-01-22</Created>
        </Date>
        <Date>
          <Modified>2007-01-22</Modified>
        </Date>
        <Date>
          <Modified>2007-04-17</Modified>
          <!-- Name Space changes -->
        </Date>
        <Date>
          <Modified>2008-11-17</Modified>
          <!-- Revise to support substitution groups -->
        </Date>
        <Date>
          <Modified>2008-11-18</Modified>
          <!-- Revise in line with FM spec - add filters -->
        </Date>
        <Description>
          <p>SIRI is a European CEN standard for the exchange of Public Transport real time information.</p>
          <p>This sub-schema describes the Facility  Monitoring Service.</p>
        </Description>
        <Format>
          <MediaType>text/xml</MediaType>
          <Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
          <Description>XML schema, W3C Recommendation 2001</Description>
        </Format>
        <Identifier>{http://www.siri.org.uk/schemas/1.3}sir_facilityMonitoring_service.xsd</Identifier>
        <Language>[ISO 639-2/B] ENG</Language>
        <Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
        <Relation>
          <Requires>http://www.siri.org.uk/schemas/1.3/siri/siri_requests-v1.2.xsd</Requires>
          <Requires>http://www.siri.org.uk/schemas/1.3/siri/siri_reference-v1.1.xsd</Requires>
          <Requires>http://www.siri.org.uk/schemas/1.3/siri/siri_permissions-v1.1.xsd</Requires>
        </Relation>
        <Rights>Unclassified
                            <Copyright>CEN, VDV, RTIG  2004,2005, 2007</Copyright></Rights>
        <Source>
          <ul>
            <li>Derived from the VDV, RTIG XML and Trident standards.</li>
          </ul>
        </Source>
        <Status>Version 0.1 Draft for approval</Status>
        <Subject>
          <Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and road transport
</Category>
          <Project>Cen TC278 WG3 SG7</Project>
        </Subject>
        <Title>SIRI XML schema. Service Interface for Real Time Information relating to Public Transport Operations. Facility Monitoring Subschema </Title>
        <Type>Standard</Type>
      </Metadata>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:group name="SiriFacilityMonitoringServiceIndexGroup">
    <xsd:annotation>
      <xsd:documentation>Convenience artefact to pick out main elements of the Facility Monitoring Service</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ref="FacilityMonitoringRequest" />
      <xsd:element ref="FacilityMonitoringSubscriptionRequest" />
      <xsd:element ref="FacilityMonitoringDelivery" />
      <xsd:sequence>
        <xsd:element ref="FacilityMonitoringCapabilitiesRequest" />
        <xsd:element ref="FacilityMonitoringCapabilitiesResponse" />
      </xsd:sequence>
    </xsd:sequence>
  </xsd:group>
  <xsd:element name="FacilityMonitoringRequest" substitutionGroup="AbstractFunctionalServiceRequest" type="FacilityMonitoringRequestStructure">
    <xsd:annotation>
      <xsd:documentation>Request for information about Facilities status</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="FacilityMonitoringRequestStructure">
    <xsd:annotation>
      <xsd:documentation>Service Request Type for Facility Monitoring Service</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="AbstractFunctionalServiceRequestStructure">
        <xsd:sequence>
          <xsd:group ref="FacilityMonitoringTopicGroup" />
          <xsd:group ref="FacilityMonitoringRequestPolicyGroup" />
          <xsd:element minOccurs="0" ref="Extensions" />
        </xsd:sequence>
        <xsd:attribute fixed="1.3" name="version" type="VersionString" use="required">
          <xsd:annotation>
            <xsd:documentation>Version number of request. Fixed 
</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="FacilityMonitoringTopicGroup">
    <xsd:annotation>
      <xsd:documentation>Parameters that specify the content to be returned.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="PreviewInterval" type="PositiveDurationType">
        <xsd:annotation>
          <xsd:documentation>Forward duration for which Facilities satus change: only status change which will occur within this time span will be returned.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="StartTime" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Start time for PreviewInterval. If absent, then current time is assumed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:group minOccurs="0" ref="FacilityLocationGroup">
        <xsd:annotation>
          <xsd:documentation>Parameters to filter Facility Monitoring requests, based on the facility location. Parameter valu will be logically ANDed together. Multiple values fro teh same parameter will be logically ORed.</xsd:documentation>
        </xsd:annotation>
      </xsd:group>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="AccessibilityNeedsFilter" type="AccessibilityNeedsFilterStructure">
        <xsd:annotation>
          <xsd:documentation>Filter only for facilkity changes that affect the following accessibility needs.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="AccessibilityNeedsFilterStructure">
    <xsd:annotation>
      <xsd:documentation>Type for information about Accessibility  Facilities status</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="UserNeed" type="acsb:UserNeedStructure">
        <xsd:annotation>
          <xsd:documentation>User need to be monitored </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:group name="FacilityLocationGroup">
    <xsd:annotation>
      <xsd:documentation>Parameters to filter Facility Monitoring requests, based on the facility location .</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="FacilityRef" />
      <xsd:element minOccurs="0" ref="FeatureRef" />
      <xsd:element minOccurs="0" ref="LineRef" />
      <xsd:element minOccurs="0" ref="StopPointRef" />
      <xsd:element minOccurs="0" ref="ConnectionLinkRef" />
      <xsd:element minOccurs="0" ref="VehicleJourneyRef" />
      <xsd:element minOccurs="0" ref="InterchangeRef" />
      <xsd:element minOccurs="0" ref="VehicleRef" />
      <xsd:element minOccurs="0" name="StopPlaceRef" type="ifopt:StopPlaceRefStructure">
        <xsd:annotation>
          <xsd:documentation>Reference to a stop place</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="StopPlaceComponentRef" type="ifopt:StopPlaceComponentRefStructure">
        <xsd:annotation>
          <xsd:documentation>Reference to a stop place component</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="FacilityMonitoringRequestPolicyGroup">
    <xsd:annotation>
      <xsd:documentation>Parameters that affect the request processing.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" default="en" name="Language" type="xsd:language">
        <xsd:annotation>
          <xsd:documentation>Preferred language in which to return  text  values.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="MaximumNumberOfFacilityConditions" type="xsd:positiveInteger">
        <xsd:annotation>
          <xsd:documentation>The maximum number of facility status in a given delivery. The most recent n  Events within the  look ahead window are included. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
  <xsd:element name="FacilityMonitoringSubscriptionRequest" substitutionGroup="AbstractFunctionalServiceSubscriptionRequest" type="FacilityMonitoringSubscriptionStructure">
    <xsd:annotation>
      <xsd:documentation>Request for a subscription to the Vehicle Monitoring Service.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:group name="FacilityMonitoringSubscriptionPolicyGroup">
    <xsd:annotation>
      <xsd:documentation>Parameters that affect the subscription publishing and notification processing.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" default="false" name="IncrementalUpdates" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Whether the producer  will return the complete set of current data, or only only provide updates to this data, i.e. additions, modifications and deletions.
If false or omitted, each subscription response will contain the full information as specified in this request.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="FacilityMonitoringSubscriptionStructure">
    <xsd:annotation>
      <xsd:documentation>Data type for Subscription Request for Vehicle Monitoring Service.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="AbstractSubscriptionStructure">
        <xsd:sequence>
          <xsd:element ref="FacilityMonitoringRequest" />
          <xsd:group ref="FacilityMonitoringSubscriptionPolicyGroup" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="FacilityMonitoringDelivery" substitutionGroup="AbstractFunctionalServiceDelivery" type="FacilityMonitoringDeliveryStructure">
    <xsd:annotation>
      <xsd:documentation>Delivery for Vehicle Monitoring Service.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:group name="FacilityMonitoringPayloadGroup">
    <xsd:annotation>
      <xsd:documentation>Payload part of Vehicle Monitoring delivery.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="FacilityCondition" type="FacilityConditionStructure" />
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="FacilityMonitoringDeliveryStructure">
    <xsd:annotation>
      <xsd:documentation>Data type for Delivery for Vehicle Monitoring Service. Provides information about one or more vehicles; each has its own vehicle activity element.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="AbstractServiceDeliveryStructure">
        <xsd:sequence>
          <xsd:group ref="FacilityMonitoringPayloadGroup">
            <xsd:annotation>
              <xsd:documentation>Payload part of Facility Monitoring delivery.</xsd:documentation>
            </xsd:annotation>
          </xsd:group>
          <xsd:element minOccurs="0" ref="Extensions" />
        </xsd:sequence>
        <xsd:attribute fixed="1.3" name="version" type="VersionString" use="required">
          <xsd:annotation>
            <xsd:documentation>Version number of response. Fixed 
</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FacilityMonitoringDeliveriesStructure">
    <xsd:annotation>
      <xsd:documentation>Type for Deliveries for vehicle monitoring services Used in WSDL.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" ref="FacilityMonitoringDelivery">
        <xsd:annotation>
          <xsd:documentation>Delviery for Vehicle Activity Service</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="FacilityMonitoringCapabilitiesRequest" substitutionGroup="AbstractFunctionalServiceCapabilitiesRequest" type="ServiceCapabilitiesRequestStructure">
    <xsd:annotation>
      <xsd:documentation>Request for information about Vehicle Monitoring Service Capabilities. Answered with a VehicleMontoringCapabilitiesResponse.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="FacilityMonitoringCapabilitiesResponse" substitutionGroup="AbstractFunctionalServiceCapabilitiesResponse" type="FacilityMonitoringCapabilitiesResponseStructure">
    <xsd:annotation>
      <xsd:documentation>Capabilities for Vehicle Monitoring Service. Answers a VehicleMontoringCapabilitiesRequest.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="FacilityMonitoringCapabilitiesResponseStructure">
    <xsd:annotation>
      <xsd:documentation>Data type for Delivery for Vehicle Monitoring Service</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="AbstractServiceCapabilitiesResponseStructure">
        <xsd:sequence>
          <xsd:element minOccurs="0" ref="FacilityMonitoringServiceCapabilities" />
          <xsd:element minOccurs="0" ref="FacilityMonitoringPermissions" />
          <xsd:element minOccurs="0" ref="Extensions" />
        </xsd:sequence>
        <xsd:attribute fixed="1.3" name="version" type="VersionString" use="required">
          <xsd:annotation>
            <xsd:documentation>Version number of response. Fixed 
</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="FacilityMonitoringServiceCapabilities" type="FacilityMonitoringServiceCapabilitiesStructure">
    <xsd:annotation>
      <xsd:documentation> Capabilities of Vehicle Monitoring Service.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="FacilityMonitoringServiceCapabilitiesStructure">
    <xsd:annotation>
      <xsd:documentation>Type for Vehicle Monitoring Capabilities</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="AbstractCapabilitiesStructure">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="TopicFiltering">
            <xsd:annotation>
              <xsd:documentation>Filtering Capabilities. </xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element default="PT60M" name="DefaultPreviewInterval" type="PositiveDurationType">
                  <xsd:annotation>
                    <xsd:documentation>Default preview interval.  Default is 60 minutes.  </xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element ref="FilterByFacilityRef" />
                <xsd:element fixed="true" name="FilterByLocationRef" type="xsd:boolean">
                  <xsd:annotation>
                    <xsd:documentation>Whether results can be filtered by location. Fixed as true.</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" ref="FilterByVehicleRef" />
                <xsd:element minOccurs="0" ref="FilterByLineRef" />
                <xsd:element minOccurs="0" ref="FilterByStopPointRef" />
                <xsd:element minOccurs="0" ref="FilterByVehicleJourneyRef" />
                <xsd:element minOccurs="0" ref="FilterByConnectionLinkRef" />
                <xsd:element minOccurs="0" ref="FilterByInterchangeRef" />
                <xsd:element minOccurs="0" default="true" name="FilterBySpecificNeed" type="xsd:boolean">
                  <xsd:annotation>
                    <xsd:documentation>Whether results can be filtered by Specific Needs. Default is true.</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" name="RequestPolicy">
            <xsd:annotation>
              <xsd:documentation>Request Policiy capabilities.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:complexContent mixed="false">
                <xsd:extension base="CapabilityRequestPolicyStructure">
                  <xsd:sequence>
                    <xsd:group ref="FacilityMonitoringVolumeGroup" />
                  </xsd:sequence>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" name="SubscriptionPolicy" type="CapabilitySubscriptionPolicyStructure">
            <xsd:annotation>
              <xsd:documentation>Subscription Policy capabilities.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="AccessControl">
            <xsd:annotation>
              <xsd:documentation>Optional Access control capabilities.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:complexContent mixed="false">
                <xsd:extension base="CapabilityAccessControlStructure">
                  <xsd:sequence>
                    <xsd:element minOccurs="0" ref="CheckOperatorRef" />
                    <xsd:element minOccurs="0" ref="CheckLineRef" />
                  </xsd:sequence>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ResponseFeatures">
            <xsd:annotation>
              <xsd:documentation>Optional Response capabilities</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" default="false" name="HasRemedy" type="xsd:boolean">
                  <xsd:annotation>
                    <xsd:documentation>Whether result suppots remedy information Default is false</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" default="true" name="HasFacilityLocation" type="xsd:boolean">
                  <xsd:annotation>
                    <xsd:documentation>Whether result suppots facility location information Default is true</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" ref="Extensions" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="FacilityMonitoringVolumeGroup">
    <xsd:annotation>
      <xsd:documentation>Elements for volume control</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" default="false" name="HasMaximumFacilityStatus" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Whether a maximum number of Facitlity Status to include can be specified. Default is false.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
  <xsd:element name="FacilityMonitoringPermissions">
    <xsd:annotation>
      <xsd:documentation>Participant's permissions to use the service.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent mixed="false">
        <xsd:extension base="PermissionsStructure">
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="FacilityMonitoringPermission" type="FacilityMonitoringServicePermissionStructure" />
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="FacilityMonitoringServicePermissionStructure">
    <xsd:annotation>
      <xsd:documentation>Type for Facility Monitoring Service  Permissions</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="AbstractPermissionStructure">
        <xsd:sequence>
          <xsd:element ref="OperatorPermissions" />
          <xsd:element ref="LinePermissions" />
          <xsd:element minOccurs="0" ref="Extensions" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>