azure-website/SiriService/Web References/IsrService/siri_discovery.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.siri.org.uk/siri" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.siri.org.uk/siri" version="1.3" id="siri_discovery" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="siri/siri_requests-v1.2.xsd" />
  <xsd:include schemaLocation="siri/siri_journey-v1.2.xsd" />
  <xsd:include schemaLocation="siri_generalMessage_service.xsd" />
  <xsd:annotation>
    <xsd:appinfo>
      <Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
        <Aggregation>main schema</Aggregation>
        <Audience>e-service developers</Audience>
        <Contributor> Cen TC278 WG3 SG7 Team</Contributor>
        <Coverage>Europe</Coverage>
        <Creator>Drafted for version 1.0  Cen TC278 WG3 SG7 Editor Nicholas Knowles, Kizoom. mailto:schemer@siri.org.uk</Creator>
        <Date>
          <Created>2004-09-29</Created>
        </Date>
        <Date>
          <Modified>2005-02-14</Modified>
        </Date>
        <Date>
          <Modified>2005-02-20</Modified>
        </Date>
        <Date>
          <Modified>2005-05-04</Modified>
        </Date>
        <Date>
          <Modified>2005-11-25</Modified>
        </Date>
        <Date>
          <Modified>2007-04-17</Modified>
          <!-- Name Space changes -->
        </Date>
        <Date>
          <Modified>2008-11-13</Modified>
          <!-- Fix cardinalities on delivery items eg Lines, refs, facilities 
							MoveAbstractDiscoveryDelivery to siri_requests-->
        </Date>
        <Date>
          <Modified>2008-11-17</Modified>
          <!-- Revise to support substitution groups -->
          <!-- Correct Type on vehicle features delivery structure -->
        </Date>
        <Description>
          <p>SIRI is a European CEN technical standard for the exchange of real time information.</p>
          <p>This subschema describes discovery services used by different SIRI functional services
                    <ul><li>Stop Points Discovery</li><li>Lines Discovery Discovery</li><li>Service Feature discovery</li><li>Product Category Discovery</li><li>Vehicle Feature Discovery</li><li>Info Channels for SIRI General Message Service</li></ul></p>
        </Description>
        <Format>
          <MediaType>text/xml</MediaType>
          <Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
          <Description>XML schema, W3C Recommendation 2001</Description>
        </Format>
        <Identifier>{http://www.siri.org.uk/schemas/1.3}siri_discovery.xsd</Identifier>
        <Language>[ISO 639-2/B] ENG</Language>
        <Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
        <Relation>
          <Requires>http://www.siri.org.uk/schemas/1.3/siri/siri_requests-v1.1.xsd</Requires>
          <Requires>http://www.siri.org.uk/schemas/1.3/siri/siri_reference-v1.1.xsd</Requires>
        </Relation>
        <Rights>Unclassified
                            <Copyright>CEN, VDV, RTIG  2004-2005</Copyright></Rights>
        <Source>
          <ul>
            <li>Derived from the VDV, RTIG XML and Trident standards.</li>
          </ul>
        </Source>
        <Status>Version 1.1 Draft for approval</Status>
        <Subject>
          <Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and road transport
</Category>
          <Project>Cen TC278 WG3 SG7</Project>
        </Subject>
        <Title>SIRI XML schema. Service Interface for Real Time Information. DIscovery subschema. </Title>
        <Type>Standard</Type>
      </Metadata>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:group name="SiriDiscoveryIndexGroup">
    <xsd:annotation>
      <xsd:documentation>Convenience artefact to pick out main elements of the Estimated Timetable Service.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:group ref="SiriReferenceDiscoveryRequestGroup" />
      <xsd:group ref="SiriDiscoveryReferenceDeliveryGroup" />
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="SiriReferenceDiscoveryRequestGroup">
    <xsd:annotation>
      <xsd:documentation>Requests for reference data for use in service requests.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element ref="StopPointsRequest" />
      <xsd:element ref="LinesRequest" />
      <xsd:element ref="ServiceFeaturesRequest" />
      <xsd:element ref="ProductCategoriesRequest" />
      <xsd:element ref="VehicleFeaturesRequest" />
      <xsd:element ref="InfoChannelRequest" />
      <xsd:element ref="FacilityRequest" />
    </xsd:choice>
  </xsd:group>
  <xsd:group name="SiriDiscoveryReferenceDeliveryGroup">
    <xsd:annotation>
      <xsd:documentation>Responses with reference data for use in service requests.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element ref="StopPointsDelivery" />
      <xsd:element ref="LinesDelivery" />
      <xsd:element ref="ProductCategoriesDelivery" />
      <xsd:element ref="ServiceFeaturesDelivery" />
      <xsd:element ref="VehicleFeaturesDelivery" />
      <xsd:element ref="InfoChannelDelivery" />
      <xsd:element ref="FacilityDelivery" />
    </xsd:choice>
  </xsd:group>
  <xsd:element name="StopPointsRequest" substitutionGroup="AbstractDiscoveryRequest">
    <xsd:annotation>
      <xsd:documentation>Requests a list of the Stop points and places  covered by a Producer.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent mixed="false">
        <xsd:extension base="StopPointsDiscoveryRequestStructure" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="StopPointsDiscoveryRequestStructure">
    <xsd:annotation>
      <xsd:documentation>Requests for stop reference data  for use in service requests.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="AbstractDiscoveryRequestStructure">
        <xsd:attribute fixed="1.3" name="version" type="VersionString" use="required">
          <xsd:annotation>
            <xsd:documentation>Version number of request. Fixed 
</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="StopPointsDelivery" substitutionGroup="AbstractDiscoveryDelivery" type="StopPointsDeliveryStructure">
    <xsd:annotation>
      <xsd:documentation>Returns the stop points/places  covered by a service. Answers a StopPointsRequest.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="StopPointsDeliveryStructure">
    <xsd:annotation>
      <xsd:documentation>Response with Stop Points available to make requests.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="AbstractDiscoveryDeliveryStructure">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="AnnotatedStopPointRef" type="AnnotatedStopPointStructure">
            <xsd:annotation>
              <xsd:documentation>Stop Definition</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" ref="Extensions" />
        </xsd:sequence>
        <xsd:attribute fixed="1.3" name="version" type="VersionString" use="required">
          <xsd:annotation>
            <xsd:documentation>Version number of response. Fixed 
</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AnnotatedStopPointStructure">
    <xsd:annotation>
      <xsd:documentation>Sumamry information about a stop.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="StopPointRef" type="StopPointRefStructure" />
      <xsd:element minOccurs="0" ref="TimingPoint" />
      <xsd:element minOccurs="0" default="true" name="Monitored" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Whether real tiem data is availabel for the stop. Default is true.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="StopName" type="NaturalLanguageStringStructure">
        <xsd:annotation>
          <xsd:documentation>Name of stop point.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Features">
        <xsd:annotation>
          <xsd:documentation>Service features of stop.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="ServiceFeature" type="ServiceFeatureStructure">
              <xsd:annotation>
                <xsd:documentation>Description of Service features of stop.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="ServiceFeatureRef" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="Lines">
        <xsd:annotation>
          <xsd:documentation>lines that use stop</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="LineRef" type="LineRefStructure">
              <xsd:annotation>
                <xsd:documentation>Lines that call at stop.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="LinesRequest" substitutionGroup="AbstractDiscoveryRequest" type="LinesDiscoveryRequestStructure">
    <xsd:annotation>
      <xsd:documentation>Requests a list of the Lines covered by a Producer.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="LinesDiscoveryRequestStructure">
    <xsd:annotation>
      <xsd:documentation>Requests for line data  for use in service  requests.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="AbstractDiscoveryRequestStructure">
        <xsd:attribute fixed="1.3" name="version" type="VersionString" use="required">
          <xsd:annotation>
            <xsd:documentation>Version number of request. Fixed 
</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="LinesDelivery" substitutionGroup="AbstractDiscoveryDelivery" type="LinesDeliveryStructure">
    <xsd:annotation>
      <xsd:documentation>Returns the lines covered by a service. Answers a LinesRequest.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="LinesDeliveryStructure">
    <xsd:annotation>
      <xsd:documentation>Response with Lines available to make requests.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="AbstractDiscoveryDeliveryStructure">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="AnnotatedLineRef" type="AnnotatedLineStructure">
            <xsd:annotation>
              <xsd:documentation>Infromation about lines covered by server.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" ref="Extensions" />
        </xsd:sequence>
        <xsd:attribute fixed="1.3" name="version" type="VersionString" use="required">
          <xsd:annotation>
            <xsd:documentation>Version number of response. Fixed</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AnnotatedLineStructure">
    <xsd:annotation>
      <xsd:documentation>Summary information about a line type.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="LineRef" type="LineRefStructure">
        <xsd:annotation>
          <xsd:documentation>Identifier of Line</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LineName" type="NaturalLanguageStringStructure">
        <xsd:annotation>
          <xsd:documentation>Name of line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element default="true" name="Monitored" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Whether the linehas real time info. Default is true. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Destinations">
        <xsd:annotation>
          <xsd:documentation>Destinations to which the line runs.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" ref="Destination" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="Directions">
        <xsd:annotation>
          <xsd:documentation>Directions for the line.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" ref="Direction" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Destination" type="AnnotatedDestinationStructure">
    <xsd:annotation>
      <xsd:documentation>Description of a destination.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="AnnotatedDestinationStructure">
    <xsd:annotation>
      <xsd:documentation>Type for  Destination and name type.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="DestinationRef" type="DestinationRefStructure" />
      <xsd:element name="PlaceName" type="NaturalLanguageStringStructure">
        <xsd:annotation>
          <xsd:documentation>Name of destination place.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ProductCategoriesRequest" substitutionGroup="AbstractDiscoveryRequest" type="ProductCategoriesDiscoveryRequestStructure">
    <xsd:annotation>
      <xsd:documentation>Requests a liss of the Product Categories covered by a Producer.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="ProductCategoriesDiscoveryRequestStructure">
    <xsd:annotation>
      <xsd:documentation>Requests for product category reference data  for use in servicerequests.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="AbstractDiscoveryRequestStructure">
        <xsd:attribute fixed="1.3" name="version" type="VersionString" use="required">
          <xsd:annotation>
            <xsd:documentation>Version number of request. Fixed 
</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ProductCategoriesDelivery" substitutionGroup="AbstractDiscoveryDelivery" type="ProductCategoriesDeliveryStructure">
    <xsd:annotation>
      <xsd:documentation>Returns the Product Categoriescovered by a service. Answers a ProductCategoriesRequest.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="ProductCategoriesDeliveryStructure">
    <xsd:annotation>
      <xsd:documentation>Type for Response with Product categories available to make requests.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="AbstractDiscoveryDeliveryStructure">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ProductCategory" type="ProductCategoryStructure">
            <xsd:annotation>
              <xsd:documentation>Product Category.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" ref="Extensions" />
        </xsd:sequence>
        <xsd:attribute fixed="1.3" name="version" type="VersionString" use="required">
          <xsd:annotation>
            <xsd:documentation>Version number of response. Fixed</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ProductCategoryStructure">
    <xsd:annotation>
      <xsd:documentation>Type for Product Category description.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ProductCategoryCode" type="ProductCategoryCodeType">
        <xsd:annotation>
          <xsd:documentation>Identifier of classification. SIRI provides a recommended set of values covering most usages, intended to be TPEG comnpatible. See the SIRI facilities packaged</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="NaturalLanguageStringStructure">
        <xsd:annotation>
          <xsd:documentation>Name of classification.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Icon" type="xsd:anyURI">
        <xsd:annotation>
          <xsd:documentation>Icon used to represent category.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="VehicleFeaturesRequest" substitutionGroup="AbstractDiscoveryRequest" type="VehicleFeaturesDiscoveryRequestStructure">
    <xsd:annotation>
      <xsd:documentation>Requests a list of the Vehicle Features covered by a Producer.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="VehicleFeaturesDiscoveryRequestStructure">
    <xsd:annotation>
      <xsd:documentation>Requests for vehicle feature data  for use in service  requests.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="AbstractDiscoveryRequestStructure">
        <xsd:attribute fixed="1.3" name="version" type="VersionString" use="required">
          <xsd:annotation>
            <xsd:documentation>Version number of request. Fixed 
</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="VehicleFeaturesDelivery" substitutionGroup="AbstractDiscoveryDelivery" type="VehicleFeaturesDeliveryStructure">
    <xsd:annotation>
      <xsd:documentation>Returns the Vehicle Features covered by a service. Answers a VehicleFeaturesRequest.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="VehicleFeaturesDeliveryStructure">
    <xsd:annotation>
      <xsd:documentation>Type for Response with VehicleFeatures available to make requests.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="AbstractDiscoveryDeliveryStructure">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" ref="VehicleFeature" />
          <xsd:element minOccurs="0" ref="Extensions" />
        </xsd:sequence>
        <xsd:attribute fixed="1.3" name="version" type="VersionString" use="required">
          <xsd:annotation>
            <xsd:documentation>Version number of response. Fixed</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="VehicleFeature" type="VehicleFeaturesStructure">
    <xsd:annotation>
      <xsd:documentation>Vehicle Feature description.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="VehicleFeaturesStructure">
    <xsd:annotation>
      <xsd:documentation>Type for Vehicle Feature description.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="VehicleFeatureCode" type="VehicleFeatureCodeType">
        <xsd:annotation>
          <xsd:documentation>Identifier of classification. SIRI provides a recommended set of values covering most usages, intended to be TPEG comnpatible. See the SIRI facilities packaged</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="NaturalLanguageStringStructure">
        <xsd:annotation>
          <xsd:documentation>Name of feature.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Icon" type="xsd:anyURI">
        <xsd:annotation>
          <xsd:documentation>Icon used to represent Vehicle feature.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="InfoChannelRequest" substitutionGroup="AbstractDiscoveryRequest" type="InfoChannelDiscoveryRequestStructure">
    <xsd:annotation>
      <xsd:documentation>Requests a list of the Info Channels covered by a Producer.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="InfoChannelDiscoveryRequestStructure">
    <xsd:annotation>
      <xsd:documentation>Requests for info channels  for use in service  requests.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="AbstractDiscoveryRequestStructure">
        <xsd:attribute fixed="1.3" name="version" type="VersionString" use="required">
          <xsd:annotation>
            <xsd:documentation>Version number of request. Fixed 
</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="InfoChannelDelivery" substitutionGroup="AbstractDiscoveryDelivery" type="InfoChannelDeliveryStructure">
    <xsd:annotation>
      <xsd:documentation>Returns the infoChannels covered by a service. Answers a InfoChannelRequest.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="InfoChannelDeliveryStructure">
    <xsd:annotation>
      <xsd:documentation>Type forResponse with Inf chanels categories available to make requests.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="AbstractDiscoveryDeliveryStructure">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" ref="InfoChannel" />
          <xsd:element minOccurs="0" ref="Extensions" />
        </xsd:sequence>
        <xsd:attribute fixed="1.3" name="version" type="VersionString" use="required">
          <xsd:annotation>
            <xsd:documentation>Version number of response. Fixed</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="InfoChannel" type="InfoChannelStructure">
    <xsd:annotation>
      <xsd:documentation>Info Channel supported by Producer.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="InfoChannelStructure">
    <xsd:annotation>
      <xsd:documentation>Type for Info Channels description.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="InfoChannelCode" type="InfoChannelCodeType">
        <xsd:annotation>
          <xsd:documentation>Identifier of classification.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="NaturalLanguageStringStructure">
        <xsd:annotation>
          <xsd:documentation>Name of Info Channel.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Icon" type="xsd:anyURI">
        <xsd:annotation>
          <xsd:documentation>Icon associated with Info Channel.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="FacilityRequest" substitutionGroup="AbstractDiscoveryRequest" type="FacilityRequestStructure">
    <xsd:annotation>
      <xsd:documentation>Requests a list of the Facilities covered by a Producer.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="FacilityRequestStructure">
    <xsd:annotation>
      <xsd:documentation>Requests for info channels  for use in service  requests.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="AbstractDiscoveryRequestStructure">
        <xsd:attribute fixed="1.3" name="version" type="VersionString" use="required">
          <xsd:annotation>
            <xsd:documentation>Version number of request. Fixed 
</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="FacilityDelivery" substitutionGroup="AbstractDiscoveryDelivery" type="FacilityDeliveryStructure">
    <xsd:annotation>
      <xsd:documentation>Returns the Facilities   covered by a service. Answers a StopPointsRequest.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="FacilityDeliveryStructure">
    <xsd:annotation>
      <xsd:documentation>Response with Facilities  available to make requests.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="AbstractDiscoveryDeliveryStructure">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="AnnotatedFacility" type="AnnotatedFacilityStructure">
            <xsd:annotation>
              <xsd:documentation>Stop Definition</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" ref="Extensions" />
        </xsd:sequence>
        <xsd:attribute fixed="1.3" name="version" type="VersionString" use="required">
          <xsd:annotation>
            <xsd:documentation>Version number of response. Fixed</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AnnotatedFacilityStructure">
    <xsd:annotation>
      <xsd:documentation>Sumamry information about a Facilities </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ref="FacilityRef" />
      <xsd:element minOccurs="0" default="true" name="Monitored" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Whether real tiem data is availabel for the stop. Default is true.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Facility" type="FacilityStructure">
        <xsd:annotation>
          <xsd:documentation>Description of the facility (without its status)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ServiceFeaturesRequest" substitutionGroup="AbstractDiscoveryRequest" type="ServiceFeaturesDiscoveryRequestStructure">
    <xsd:annotation>
      <xsd:documentation>Requests a list of the Service Features covered by a Producer.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="ServiceFeaturesDiscoveryRequestStructure">
    <xsd:annotation>
      <xsd:documentation>Requests for product category reference data  for use in servicerequests.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="AbstractDiscoveryRequestStructure">
        <xsd:attribute fixed="1.3" name="version" type="VersionString" use="required">
          <xsd:annotation>
            <xsd:documentation>Version number of request. Fixed 
</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ServiceFeaturesDelivery" substitutionGroup="AbstractDiscoveryDelivery" type="ServiceFeaturesDeliveryStructure">
    <xsd:annotation>
      <xsd:documentation>Returns the Service Features covered by a service. Answers a ServiceFeaturesRequest.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="ServiceFeaturesDeliveryStructure">
    <xsd:annotation>
      <xsd:documentation>Type for Response with Service Features available to make requests.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="AbstractDiscoveryDeliveryStructure">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" ref="ServiceFeature" />
        </xsd:sequence>
        <xsd:attribute fixed="1.3" name="version" type="VersionString" use="required">
          <xsd:annotation>
            <xsd:documentation>Version number of response. Fixed</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ServiceFeature" type="ServiceFeatureStructure">
    <xsd:annotation>
      <xsd:documentation>Service Service Feature description.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="ServiceFeatureStructure">
    <xsd:annotation>
      <xsd:documentation>Type for Service Feature description.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ServiceFeatureCode" type="ServiceFeatureCodeType">
        <xsd:annotation>
          <xsd:documentation>Identifier of classification. SIRI provides a recommended set of values covering most usages, intended to be TPEG comnpatible. See the SIRI facilities packaged</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="NaturalLanguageStringStructure">
        <xsd:annotation>
          <xsd:documentation>Name of classification.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Icon" type="xsd:anyURI">
        <xsd:annotation>
          <xsd:documentation>Icon associated with feature.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>