azure-website/SiriService/Web References/IsrService/siri_permissions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.siri.org.uk/siri" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.siri.org.uk/siri" version="1.1" id="siri_permissions" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="siri_requests-v1.2.xsd" />
  <xsd:include schemaLocation="siri_reference-v1.2.xsd" />
  <xsd:annotation>
    <xsd:appinfo>
      <Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
        <Aggregation>main schema</Aggregation>
        <Audience>e-service developers</Audience>
        <Coverage>Europe</Coverage>
        <Creator>Drafted for version 1.0 Cen TC278 WG3 SG7 Editor Nicholas Knowles, Kizoom. mailto:schemer@siri.org.uk</Creator>
        <Date>
          <Created>2005-03-18</Created>
        </Date>
        <Date>
          <Modified>2005-03-20</Modified>
        </Date>
        <Date>
          <Modified>2005-05-11</Modified>
        </Date>
        <Date>
          <Modified>2007-03-29</Modified>
        </Date>
        <Description>
          <p>SIRI is a European CEN standard for the exchange of real time information . This subschema defines common permission processing elements for access control. Used for capability defintion and for confioguration access matrix.</p>
        </Description>
        <Format>
          <MediaType>text/xml</MediaType>
          <Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
          <Description>XML schema, W3C Recommendation 2001</Description>
        </Format>
        <Identifier>{http://www.siri.org.uk/schemas/1.3/siri}siri_permissions-v1.1.xsd</Identifier>
        <Language>[ISO 639-2/B] ENG</Language>
        <Publisher>CEN</Publisher>
        <Relation>
          <Requires>http://www.siri.org.uk/schemas/1.3/siri_types-v1.1.xsd</Requires>
        </Relation>
        <Rights>Unclassified                            <Copyright>CEN, VDV, RTIG  2004,2005, 2007</Copyright></Rights>
        <Source>
          <ul>
            <li>Derived from the VDV, RTIGXML and Trident standards.</li>
          </ul>
        </Source>
        <Status> 1.0 Draft for approval</Status>
        <Subject>
          <Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,Air transport, Airports,Ports and maritime transport, Ferries (marine),Public transport, Bus services, Coach services, Bus stops and stations,Rail transport, Railway stations and track, Train services, Underground trains,Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,Rail transport, Roads and road transport</Category>
          <Project>CEN TC278 WG3 SG7</Project>
        </Subject>
        <Title>SIRI XML schema. Common Permission elements. </Title>
        <Type>Standard</Type>
      </Metadata>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:complexType name="PermissionsStructure">
    <xsd:annotation>
      <xsd:documentation>Type for abstract permissions.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="PermissionVersionRef" type="VersionRefStructure">
        <xsd:annotation>
          <xsd:documentation>Version of permission set</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConnectionServicePermissionStructure">
    <xsd:annotation>
      <xsd:documentation>Type for Monitoring Service  Permission</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="AbstractPermissionStructure">
        <xsd:sequence>
          <xsd:element ref="OperatorPermissions" />
          <xsd:element ref="LinePermissions" />
          <xsd:element ref="ConnectionLinkPermissions" />
          <xsd:element minOccurs="0" ref="Extensions" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="LinePermissions">
    <xsd:annotation>
      <xsd:documentation>The lines that the participant may access.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <xsd:element ref="AllowAll" />
        <xsd:element maxOccurs="unbounded" name="LinePermission" type="LinePermissionStructure">
          <xsd:annotation>
            <xsd:documentation>Participants permission for this Line</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="LinePermissionStructure">
    <xsd:annotation>
      <xsd:documentation>Type for Line Permission.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="AbstractTopicPermissionStructure">
        <xsd:sequence>
          <xsd:element name="LineRef" type="LineRefStructure">
            <xsd:annotation>
              <xsd:documentation>Identifier of line whose data participant is allowed to access.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="DirectionRef" type="DirectionRefStructure">
            <xsd:annotation>
              <xsd:documentation>Identifier of direct of line that participant is allowed to access.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="OperatorPermissions">
    <xsd:annotation>
      <xsd:documentation>The Operator data that the participant may access.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <xsd:element ref="AllowAll" />
        <xsd:element maxOccurs="unbounded" name="OperatorPermission" type="OperatorPermissionStructure">
          <xsd:annotation>
            <xsd:documentation>Participants permission for this Line</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="OperatorPermissionStructure">
    <xsd:annotation>
      <xsd:documentation>Type for Operator Permission.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="AbstractTopicPermissionStructure">
        <xsd:sequence>
          <xsd:element name="OperatorRef" type="OperatorRefStructure">
            <xsd:annotation>
              <xsd:documentation>Identifier of operator whose data participant is allowed to access.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ConnectionLinkPermissions">
    <xsd:annotation>
      <xsd:documentation>The connection links that the participant may access.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <xsd:element ref="AllowAll" />
        <xsd:element maxOccurs="unbounded" name="ConnectionLinkPermission" type="ConnectionLinkPermissionStructure">
          <xsd:annotation>
            <xsd:documentation>Participants permission for this Monitoring Point</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ConnectionLinkPermissionStructure">
    <xsd:annotation>
      <xsd:documentation>Type for Connection Service Permission.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="AbstractTopicPermissionStructure">
        <xsd:sequence>
          <xsd:element name="ConnectionLinkRef" type="ConnectionLinkRefStructure">
            <xsd:annotation>
              <xsd:documentation>Identifier of Connection Link for which  permission is made.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element default="true" name="FilterByValidityPeriod" type="xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>Whether results can be filtered by ValidityPeriod. Default is true.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element default="true" name="FilterByOperatorRef" type="xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>Whether results can be filtered by Operator. Default  is true.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element default="true" name="FilterByLineRef" type="xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>Whether results can be filtered by Line. Default is true</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element default="true" name="FilterByDirectionRef" type="xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>Whether results can be filtered by Direction Default  is true.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element fixed="true" name="FilterByMonitoringRef" type="xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>Whether results can be filtered by Monitoring point. Fixed as true.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element default="true" name="FilterByConnectionLinkRef" type="xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>Whether results can be filtered by Connection link. Default is true.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element default="false" name="FilterByDestination" type="xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>Whether results can be filtered by Destination. Default is false.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element default="false" name="FilterByVehicleRef" type="xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>Whether results can be filtered by Vehicle. Default is false.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element default="true" name="FilterByStopPointRef" type="xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>Whether results can be filtered by Stop Point. Default is true.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element default="false" name="FilterByInterchangeRef" type="xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>Whether results can be filtered by Interchange. Default is false.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element default="false" name="FilterByVehicleJourneyRef" type="xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>Whether results can be filtered by VehicleJourney. Default is false.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element default="true" name="FilterByFacilityRef" type="xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>Whether results can be filtered by Facility. Default is true.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="ConnectionCapabilityAccessControlStructure">
    <xsd:annotation>
      <xsd:documentation>Abstract type ffor capability access control</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="CapabilityAccessControlStructure">
        <xsd:sequence>
          <xsd:element minOccurs="0" ref="CheckOperatorRef" />
          <xsd:element minOccurs="0" ref="CheckLineRef" />
          <xsd:element minOccurs="0" ref="CheckConnectionLinkRef">
            <xsd:annotation>
              <xsd:documentation>If access control is supported, whether access control by connection link is supported. Default is true.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element default="true" name="CheckOperatorRef" type="xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>If access control is supported, whether access control by operator is supported. Default is true.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element default="true" name="CheckLineRef" type="xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>If access control is supported, whether access control by Line is supported. Default is true.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element default="true" name="CheckMonitoringRef" type="xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>If access control is supported, whether access control by monitoring point is supported. Default is true.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element default="true" name="CheckConnectionLinkRef" type="xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>If access control is supported, whether access control by connection link is supported. Default is true.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>