azure-website/SiriService/Web References/IsrService/siri.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.siri.org.uk/siri" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.siri.org.uk/siri" version="1.3" id="siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="siri/siri_common-v1.3.xsd" />
  <xsd:include schemaLocation="siri_productionTimetable_service.xsd" />
  <xsd:include schemaLocation="siri_estimatedTimetable_service.xsd" />
  <xsd:include schemaLocation="siri_stopMonitoring_service.xsd" />
  <xsd:include schemaLocation="siri_vehicleMonitoring_service.xsd" />
  <xsd:include schemaLocation="siri_connectionMonitoring_service.xsd" />
  <xsd:include schemaLocation="siri_generalMessage_service.xsd" />
  <xsd:include schemaLocation="siri_facilityMonitoring_service.xsd" />
  <xsd:include schemaLocation="siri_situationExchange_service.xsd" />
  <xsd:include schemaLocation="siri_discovery.xsd" />
  <xsd:annotation>
    <xsd:appinfo>
      <Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
        <Aggregation>main schema</Aggregation>
        <Audience>e-service developers</Audience>
        <Contributor>Dipl.-Kfm. Winfried Bruns, Verband Deutscher, K??ln</Contributor>
        <Contributor>Mark Cartwright, Centaur Consulting Limited, Guildford</Contributor>
        <Contributor>Christophe Duquesne, PDG Consultant en syst??mes, Dryade Guyancourt</Contributor>
        <Contributor>Stefan Fj??llemark, HUR - Hovedstadens, Valby</Contributor>
        <Contributor>Jonas J??derberg, Columna, Borl??nge</Contributor>
        <Contributor>Dipl.-Ing. Sven Juergens psitrans  juergens@psitrans.de</Contributor>
        <Contributor>Nicholas Knowles, KIZOOM LTD., London EC4A 1LT</Contributor>
        <Contributor>Werner Kohl, Mentz Datenverarbeitung GmbH, M??nchen</Contributor>
        <Contributor>Peter Miller, ACIS Research and Development, Cambridge CB4 0DL</Contributor>
        <Contributor>Dr. Martin Siczkowski, West Yorkshire PTE, Leeds</Contributor>
        <Contributor>Gustav Thiessen BLIC thi@BLIC.DE</Contributor>
        <Contributor>Dr Bartak,  bartak@apex-jesenice.cz</Contributor>
        <Contributor>Dr. Franz-Josef Czuka, Beratungsgesellschaft f??r, D??sseldorf</Contributor>
        <Contributor>Dr.-Ing. Klaus-Peter Heynert, PSI Transportation GmbH, Berlin</Contributor>
        <Contributor>Jean-Laurant Franchineau, CONNEX-EUROLUM, PARIS</Contributor>
        <Contributor>Dipl.-Ing. (FH) Rainer Ganninger, init innovation in, Karlsruhe</Contributor>
        <Contributor>Dipl.-Ing. HTL Peter Machalek, Siemens Transit, Neuhausen am Rheinfall</Contributor>
        <Contributor>El Ing. Ernst Pfister, Siemens Transit, Neuhausen am Rheinfall</Contributor>
        <Contributor>Dipl.-Ing. Berthold Radermacher, Verband Deutscher, K??ln</Contributor>
        <Contributor>Dr. Friedemann Weik, Hamburger Berater Team GmbH, Hamburg</Contributor>
        <Coverage>Europe</Coverage>
        <Creator>&gt;Drafted for version 1.0  Cen TC278 WG3 SG7  Editor Nicholas Knowles, Kizoom. mailto:schemer@siri.org.uk</Creator>
        <Date>
          <Created>2004-09-29</Created>
        </Date>
        <Date>
          <Modified>2004-10-01</Modified>
        </Date>
        <Date>
          <Modified>2005-02-14</Modified>
        </Date>
        <Date>
          <Modified>2005-02-20</Modified>
        </Date>
        <Date>
          <Modified>2005-05-11</Modified>
        </Date>
        <Date>
          <Modified>2007-02-02</Modified>
        </Date>
        <Date>
          <Modified>2007-04-17</Modified>
          <!-- Name Space changes -->
        </Date>
        <Date>
          <Modified>2008-11-17</Modified>
          <!-- Change to use common 1_2.  Add in mussing StopMonitoringMultipelRequest 
								Rename grousp to identify common SIRI elements-->
        </Date>
        <Date>
          <Modified>2009-03-03</Modified>
          <!-- Corrrect cardinality on facility 7 Service Monitoring Delivery  &request-->
        </Date>
        <Description>
          <p>SIRI is a European CEN technical standard for the exchange of real time information.</p>
          <p>SIRI is defined by XMLschemas and  comprises a general protocol for communication, and a modular set of functional services as follows :
                        <ul><li>Production Timetable:  Exchanges planned timetables.</li><li>Estimated Timetable:  Exchanges real-time updates to timetables.</li><li>Stop Timetable: Provides timetable information about stop departures and arrivals.</li><li>Stop Monitoring: Provides real time information about stop departures and arrivals.</li><li>Vehicle Monitoring: Provides real time information about vehicle movements.</li><li>Connection Timetable: Provides timetabled information about feeder and distributor arrivals and departures at a connection point.</li><li>Connection Monitoring: Provides real time information about feeder and distributor arrivals and departures at a a connection point. Can be used to support "Connection protection".</li><li>General Message: Exchanges general information messages between participants</li><li>Facility Monitoring: Provides real time information about facilities.</li><li>SItuation Exchange: Provides real time information about Incidents.</li></ul></p>
          <p>SIRI supports both direct request/response and publish subscribe patterns of interaction.</p>
          <p>SIRI includes common mechanisms and messages for system status management.</p>
          <p>SIRI documents can be exchanged using http post, and/or SOAP.</p>
        </Description>
        <Format>
          <MediaType>text/xml</MediaType>
          <Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
          <Description>XML schema, W3C Recommendation 2001</Description>
        </Format>
        <Identifier>{http://www.siri.org.uk/schemas/1.3}siri.xsd</Identifier>
        <Language>[ISO 639-2/B] ENG</Language>
        <Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
        <Relation>
          <Requires>http://www.siri.org.uk/schemas/1.3/siri_common.xsd</Requires>
          <Requires>http://www.siri.org.uk/schemas/1.3/siri_estimatedTimetable_service.xsd</Requires>
          <Requires>http://www.siri.org.uk/schemas/1.3/siri_productionTimetable_service.xsd</Requires>
          <Requires>http://www.siri.org.uk/schemas/1.3/siri_stopMonitoring_service.xsd</Requires>
          <Requires>http://www.siri.org.uk/schemas/1.3/siri_vehicleMonitoring_service.xsd</Requires>
          <Requires>http://www.siri.org.uk/schemas/1.3/siri_connectionTimetable_service.xsd</Requires>
          <Requires>http://www.siri.org.uk/schemas/1.3/siri_connectionMonitoring_service.xsd</Requires>
          <Requires>http://www.siri.org.uk/schemas/1.3/siri_generalMessage_service.xsd</Requires>
          <Requires>http://www.siri.org.uk/schemas/1.3/siri_discovery.xsd</Requires>
          <Requires>http://www.siri.org.uk/schemas/1.3/siri_situationExchange_service.xsd</Requires>
        </Relation>
        <Rights>Unclassified
                            <Copyright>CEN, VDV, RTIG  2004, 2005, 2007</Copyright></Rights>
        <Source>
          <ul>
            <li>Derived from the VDV, RTIG XML and Trident standards.</li>
          </ul>
        </Source>
        <Status>Version 1.0 Draft for approval</Status>
        <Subject>
          <Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and road transport.
</Category>
          <Project>Cen TC278 WG3 SG7</Project>
        </Subject>
        <Title>SIRI XML schema. Service Interface for Real Time Information relating to Public Transport Operations. </Title>
        <Type>Standard</Type>
      </Metadata>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:element name="ServiceDeliveryErrorCondition" type="ServiceDeliveryErrorConditionStructure" />
  <xsd:element name="Siri">
    <xsd:annotation>
      <xsd:documentation>Service Interface for Real Time Operation.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:choice>
        <xsd:group ref="RequestGroup" />
        <xsd:group ref="ResponseGroup" />
        <xsd:element minOccurs="0" ref="Extensions" />
      </xsd:choice>
      <xsd:attribute fixed="1.3" name="version" type="xsd:NMTOKEN" use="required" />
    </xsd:complexType>
  </xsd:element>
  <xsd:group name="RequestGroup">
    <xsd:annotation>
      <xsd:documentation>SIRI Requests.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:group ref="ServiceRequestGroup" />
      <xsd:group ref="DeliveryRequestGroup" />
      <xsd:group ref="StatusRequestGroup" />
      <xsd:group ref="SiriDiscoveryRequestGroup" />
    </xsd:choice>
  </xsd:group>
  <xsd:element name="ServiceRequest">
    <xsd:annotation>
      <xsd:documentation>Request  from Consumer to Producer for immediate delivery of data. Answered with a ServiceDelivery (or a DataReadyRequest)  </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent mixed="false">
        <xsd:extension base="ServiceRequestStructure" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:group name="ServiceRequestGroup">
    <xsd:annotation>
      <xsd:documentation>Requests for service provision.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element ref="ServiceRequest" />
      <xsd:element ref="SubscriptionRequest" />
      <xsd:element ref="TerminateSubscriptionRequest" />
    </xsd:choice>
  </xsd:group>
  <xsd:group name="DeliveryRequestGroup">
    <xsd:annotation>
      <xsd:documentation>General Requests for Fetched data delivery.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element ref="DataReadyNotification" />
      <xsd:element ref="DataSupplyRequest" />
    </xsd:choice>
  </xsd:group>
  <xsd:complexType name="ServiceRequestStructure">
    <xsd:annotation>
      <xsd:documentation>SIRI Service Request.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="ContextualisedRequestStructure">
        <xsd:group ref="SiriServiceRequestGroup" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="SiriServiceRequestGroup">
    <xsd:annotation>
      <xsd:documentation>SIRI Functional Service Concrete Request types.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element maxOccurs="unbounded" ref="ProductionTimetableRequest" />
      <xsd:element maxOccurs="unbounded" ref="EstimatedTimetableRequest" />
      <xsd:element maxOccurs="unbounded" ref="StopTimetableRequest" />
      <xsd:element maxOccurs="unbounded" ref="StopMonitoringMultipleRequest" />
      <xsd:element maxOccurs="unbounded" ref="StopMonitoringRequest" />
      <xsd:element maxOccurs="unbounded" ref="VehicleMonitoringRequest" />
      <xsd:element maxOccurs="unbounded" ref="ConnectionTimetableRequest" />
      <xsd:element maxOccurs="unbounded" ref="ConnectionMonitoringRequest" />
      <xsd:element maxOccurs="unbounded" ref="GeneralMessageRequest" />
      <xsd:element maxOccurs="unbounded" ref="FacilityMonitoringRequest" />
      <xsd:element maxOccurs="unbounded" ref="SituationExchangeRequest" />
    </xsd:choice>
  </xsd:group>
  <xsd:element name="SubscriptionRequest">
    <xsd:annotation>
      <xsd:documentation>Request from Subscriber to Producer for a subscription. Answered with a SubscriptionResponse.
</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent mixed="false">
        <xsd:extension base="SubscriptionRequestStructure" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="SubscriptionRequestStructure">
    <xsd:annotation>
      <xsd:documentation>Type for SIRI Subscription Request </xsd:documentation>
    </xsd:annotation>
  </xsd:complexType>
  <xsd:group name="ResponseGroup">
    <xsd:annotation>
      <xsd:documentation>SIRI Service Responses.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:group ref="ServiceResponseGroup" />
      <xsd:group ref="DeliveryResponseGroup" />
      <xsd:group ref="StatusResponseGroup" />
      <xsd:group ref="SiriDiscoveryResponseGroup" />
    </xsd:choice>
  </xsd:group>
  <xsd:group name="ServiceResponseGroup">
    <xsd:annotation>
      <xsd:documentation>Responses to requests other than deliveries and status information.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element ref="SubscriptionResponse" />
      <xsd:element ref="TerminateSubscriptionResponse" />
    </xsd:choice>
  </xsd:group>
  <xsd:group name="DeliveryResponseGroup">
    <xsd:annotation>
      <xsd:documentation>Responses that deliver payload content.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element ref="DataReadyAcknowledgement" />
      <xsd:element ref="ServiceDelivery" />
      <xsd:element ref="DataReceivedAcknowledgement" />
    </xsd:choice>
  </xsd:group>
  <xsd:element name="ServiceDelivery">
    <xsd:annotation>
      <xsd:documentation>Response from Producer to Consumer to deliver payload data. Either  answers a direct ServiceRequest, or asynchronously satisfies a subscription. May be  sent directly in one step, or fetched  in response to a DataSupply Request.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent mixed="false">
        <xsd:extension base="ServiceDeliveryStructure" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ServiceDeliveryStructure">
    <xsd:annotation>
      <xsd:documentation>Type for SIRI Service Delivery type.  </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="ProducerResponseStructure">
        <xsd:sequence>
          <xsd:group ref="ServiceDeliveryBodyGroup" />
        </xsd:sequence>
        <xsd:attribute name="srsName" type="SrsNameType">
          <xsd:annotation>
            <xsd:documentation>Default gml coordinate format for eny  location elements in response; applies  if Coordinates element is used to specify points. May be overridden on individual points. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ServiceDeliveryBodyStructure">
    <xsd:annotation>
      <xsd:documentation>Type for SIRI Service Delivery type.  </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:group ref="ServiceDeliveryBodyGroup" />
    </xsd:sequence>
    <xsd:attribute name="srsName" type="SrsNameType">
      <xsd:annotation>
        <xsd:documentation>Default gml coordinate format for eny  location elements in response; applies  if Coordinates element is used to specify points. May be overridden on individual points. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:group name="ServiceDeliveryBodyGroup">
    <xsd:annotation>
      <xsd:documentation>Type for SIRI Service Delivery type.  </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:group ref="ServiceDeliveryRequestStatusGroup" />
      <xsd:element minOccurs="0" default="false" name="MoreData" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Whether there is a further delvery message with more current updates  that follows this one. Default is false.  </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:group ref="SiriServiceDeliveryGroup" />
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="SiriServiceDeliveryStructure">
    <xsd:annotation>
      <xsd:documentation>Type for a SIRI SIRI Functional Service Delivery types.Used for WSDL.         </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:group ref="SiriServiceDeliveryGroup" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:group name="SiriServiceDeliveryGroup">
    <xsd:annotation>
      <xsd:documentation>SIRI Functional Service Delivery types.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element maxOccurs="unbounded" ref="ProductionTimetableDelivery" />
      <xsd:element maxOccurs="unbounded" ref="EstimatedTimetableDelivery" />
      <xsd:element maxOccurs="unbounded" ref="StopTimetableDelivery" />
      <xsd:element maxOccurs="unbounded" ref="StopMonitoringDelivery">
        <xsd:annotation>
          <xsd:documentation>Delviery for Stop Event service.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" ref="VehicleMonitoringDelivery">
        <xsd:annotation>
          <xsd:documentation>Delviery for Vehicle Activity Service</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" ref="ConnectionTimetableDelivery" />
      <xsd:element maxOccurs="unbounded" ref="ConnectionMonitoringFeederDelivery">
        <xsd:annotation>
          <xsd:documentation>Delivery for Connection Protection Fetcher Service.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" ref="ConnectionMonitoringDistributorDelivery">
        <xsd:annotation>
          <xsd:documentation>Delivery for Connection Protection Fetcher Service.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" ref="GeneralMessageDelivery">
        <xsd:annotation>
          <xsd:documentation>Delivery for general Message service.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" ref="FacilityMonitoringDelivery" />
      <xsd:element maxOccurs="unbounded" ref="SituationExchangeDelivery" />
    </xsd:choice>
  </xsd:group>
  <xsd:group name="SiriDiscoveryRequestGroup">
    <xsd:annotation>
      <xsd:documentation>Requests for reference data  for use in service requests.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element ref="CapabilitiesRequest" />
      <xsd:group ref="SiriReferenceDiscoveryRequestGroup" />
    </xsd:choice>
  </xsd:group>
  <xsd:group name="SiriDiscoveryResponseGroup">
    <xsd:annotation>
      <xsd:documentation>Responses with reference data for use in service requests.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element ref="CapabilitiesResponse">
        <xsd:annotation>
          <xsd:documentation>Responses with  the capabilities of an implementation. Answers a CapabilityRequest </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:group ref="SiriDiscoveryReferenceDeliveryGroup" />
    </xsd:choice>
  </xsd:group>
  <xsd:element name="CapabilitiesRequest" type="CapabilitiesRequestStructure">
    <xsd:annotation>
      <xsd:documentation>Requests a the current capabilities of the server. Answred with a CpabailitiesResponse.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="CapabilitiesRequestStructure">
    <xsd:annotation>
      <xsd:documentation>Type for Requests for capabilities of the current system.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="RequestStructure">
        <xsd:sequence>
          <xsd:group ref="SiriServiceCapabilitiesRequestGroup" />
        </xsd:sequence>
        <xsd:attribute fixed="1.3" name="version" type="VersionString" use="required" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="SiriServiceCapabilitiesRequestGroup">
    <xsd:annotation>
      <xsd:documentation>Defines the capabilities of an individual SIRI service request functions.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="ProductionTimetableCapabilitiesRequest" />
      <xsd:element minOccurs="0" ref="EstimatedTimetableCapabilitiesRequest" />
      <xsd:element minOccurs="0" ref="StopTimetableCapabilitiesRequest" />
      <xsd:element minOccurs="0" ref="StopMonitoringCapabilitiesRequest" />
      <xsd:element minOccurs="0" ref="VehicleMonitoringCapabilitiesRequest" />
      <xsd:element minOccurs="0" ref="ConnectionTimetableCapabilitiesRequest" />
      <xsd:element minOccurs="0" ref="ConnectionMonitoringCapabilitiesRequest" />
      <xsd:element minOccurs="0" ref="GeneralMessageCapabilitiesRequest" />
      <xsd:element minOccurs="0" ref="FacilityMonitoringCapabilitiesRequest" />
      <xsd:element minOccurs="0" ref="SituationExchangeCapabilitiesRequest" />
    </xsd:sequence>
  </xsd:group>
  <xsd:element name="CapabilitiesResponse" type="CapabilitiesResponseStructure">
    <xsd:annotation>
      <xsd:documentation>Responses with  the capabilities of an implementation. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="CapabilitiesResponseStructure">
    <xsd:annotation>
      <xsd:documentation>Type for the capabilities of an implementation. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="ProducerResponseStructure">
        <xsd:sequence>
          <xsd:group ref="SiriServiceCapabilitiesResponseGroup" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="SiriServiceCapabilitiesResponseGroup">
    <xsd:annotation>
      <xsd:documentation>Defines the capabilities of an individual SIRI service response functions</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="ProductionTimetableCapabilitiesResponse" />
      <xsd:element minOccurs="0" ref="EstimatedTimetableCapabilitiesResponse" />
      <xsd:element minOccurs="0" ref="StopTimetableCapabilitiesResponse" />
      <xsd:element minOccurs="0" ref="StopMonitoringCapabilitiesResponse" />
      <xsd:element minOccurs="0" ref="VehicleMonitoringCapabilitiesResponse" />
      <xsd:element minOccurs="0" ref="ConnectionTimetableCapabilitiesResponse" />
      <xsd:element minOccurs="0" ref="ConnectionMonitoringCapabilitiesResponse" />
      <xsd:element minOccurs="0" ref="GeneralMessageCapabilitiesResponse" />
      <xsd:element minOccurs="0" ref="FacilityMonitoringCapabilitiesResponse" />
      <xsd:element minOccurs="0" ref="SituationExchangeServiceCapabilities" />
    </xsd:sequence>
  </xsd:group>
</xsd:schema>