azure-website/SiriClientConsole3/Web References/WebReference/ifopt_checkpoint.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.ifopt.org.uk/ifopt" xmlns:siri="http://www.siri.org.uk/siri" xmlns:acsb="http://www.ifopt.org.uk/acsb" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ifopt.org.uk/ifopt" version="0.3" id="ifopt_checkpoint" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="../acsb/acsb_accessibility-v0.3.xsd" namespace="http://www.ifopt.org.uk/acsb" />
  <xsd:import schemaLocation="../siri/siri_types-v1.1.xsd" namespace="http://www.siri.org.uk/siri" />
  <xsd:annotation>
    <xsd:appinfo>
      <Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
        <Aggregation>main schema</Aggregation>
        <Audience>e-service developers</Audience>
        <Coverage>Europe</Coverage>
        <Creator>Drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles, Kizoom. mailto:schemer@ifopt.org.uk</Creator>
        <Date>
          <Created>2006-08-12</Created>
        </Date>
        <Date>
          <Modified>2006-09-22</Modified>
        </Date>
        <Date>
          <Modified>2007-03-29</Modified>
        </Date>
        <Description>
          <p>Fixed Objects in Public Transport. This subschema defines common Checkpoint  types.</p>
        </Description>
        <Format>
          <MediaType>text/xml</MediaType>
          <Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
          <Description>XML schema, W3C Recommendation 2001</Description>
        </Format>
        <Identifier>{http://www.ifopt.org.uk/schemas/0.4/ifopt}ifopt_accessibility-v0.3.xsd</Identifier>
        <Language>[ISO 639-2/B] ENG</Language>
        <Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD</Publisher>
        <Rights>Unclassified                            <Copyright>CEN, Crown Copyright 2006, 2007</Copyright></Rights>
        <Source>
          <ul>
            <li>Derived from the SIRI standards.</li>
          </ul>
        </Source>
        <Status>Draft for approval</Status>
        <Subject>
          <Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,Air transport, Airports,Ports and maritime transport, Ferries (marine),Public transport, Bus services, Coach services, Bus stops and stations,Rail transport, Railway stations and track, Train services, Underground trains,Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,Rail transport, Roads and road transport</Category>
          <Project>Cen TC278 WG3 SG6</Project>
        </Subject>
        <Title>IFOPT Fixed Objects in Public Transport - Checkpoint  Types. </Title>
        <Type>Standard</Type>
      </Metadata>
    </xsd:appinfo>
    <xsd:documentation>Fixed Objects Checkpoint types for IFOPT Fixed Objects in Public Transport </xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType name="CheckPointIdType">
    <xsd:annotation>
      <xsd:documentation>Type for identifier of a hazard within a stop place.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:NMTOKEN" />
  </xsd:simpleType>
  <xsd:complexType name="CheckPointRefStructure">
    <xsd:annotation>
      <xsd:documentation>Type for  reference to am identifier of a hazard within a stop place.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="CheckPointIdType" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="CheckPointStructure">
    <xsd:annotation>
      <xsd:documentation>Type for  a Checkpoint Hazard that can be assocaited with </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CheckPointId" type="CheckPointIdType">
        <xsd:annotation>
          <xsd:documentation>Unique identifier of Hazard.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:group ref="CheckPointGroup" />
      <xsd:group ref="DelayGroup" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:group name="CheckPointGroup">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ValidityCondition" type="ValidityConditionStructure">
        <xsd:annotation>
          <xsd:documentation>Validty condition governing applicability of hazard.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="CheckPointProcess" type="CheckPointProcessEnumeration">
        <xsd:annotation>
          <xsd:documentation>Type of process that may occur at checkpoint</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="CheckPointService" type="CheckPointServiceEnumeration">
        <xsd:annotation>
          <xsd:documentation>Type of process that may occur at checkpoint</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="AccessFeatureType" type="AccessibilityFeatureEnumeration">
        <xsd:annotation>
          <xsd:documentation>Type of physical featrue that may slow use of checkpoint</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Congestion" type="CongestionEnumeration">
        <xsd:annotation>
          <xsd:documentation>Type of crowding that may slow use of checkpoint</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="FacilityRef" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Classification of feature of checkpoint. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
  <xsd:simpleType name="CheckPointProcessEnumeration">
    <xsd:annotation>
      <xsd:documentation>Allowed values for a checkpoint.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="none" />
      <xsd:enumeration value="unknown" />
      <xsd:enumeration value="ticketPurchase" />
      <xsd:enumeration value="ticketCollection" />
      <xsd:enumeration value="ticketValidation" />
      <xsd:enumeration value="baggageCheckIn" />
      <xsd:enumeration value="oversizeBaggageCheckIn" />
      <xsd:enumeration value="oversizeBaggageReclaim" />
      <xsd:enumeration value="baggageReclaim" />
      <xsd:enumeration value="leftLuggageDeposit" />
      <xsd:enumeration value="leftLuggageReclaim" />
      <xsd:enumeration value="firstclassCheckin" />
      <xsd:enumeration value="specialNeedsCheckin" />
      <xsd:enumeration value="baggageSecurityCheck" />
      <xsd:enumeration value="securityCheck" />
      <xsd:enumeration value="outgoingPassportControl" />
      <xsd:enumeration value="incomingPassportControl" />
      <xsd:enumeration value="fasttrackDepartures" />
      <xsd:enumeration value="fasttrackArrivals" />
      <xsd:enumeration value="incomingDutyFree" />
      <xsd:enumeration value="outgoingDutyFree" />
      <xsd:enumeration value="taxRefunds" />
      <xsd:enumeration value="outgoingCustoms" />
      <xsd:enumeration value="incomingCustoms" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CheckPointServiceEnumeration">
    <xsd:annotation>
      <xsd:documentation>Allowed values for a checkpoint.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="selfserviceMachine" />
      <xsd:enumeration value="counterService" />
      <xsd:enumeration value="other" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AccessibilityFeatureEnumeration">
    <xsd:annotation>
      <xsd:documentation>Allowed values for a checkpoint.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="lift" />
      <xsd:enumeration value="stairs" />
      <xsd:enumeration value="seriesOfStairs" />
      <xsd:enumeration value="escalator" />
      <xsd:enumeration value="travelator" />
      <xsd:enumeration value="ramp" />
      <xsd:enumeration value="shuttle" />
      <xsd:enumeration value="barrier" />
      <xsd:enumeration value="narrowEntrance" />
      <xsd:enumeration value="confinedSpace" />
      <xsd:enumeration value="queueManagement" />
      <xsd:enumeration value="none" />
      <xsd:enumeration value="unknown" />
      <xsd:enumeration value="other" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CongestionEnumeration">
    <xsd:annotation>
      <xsd:documentation>Allowed values for a checkpoint.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="noWaiting" />
      <xsd:enumeration value="queue" />
      <xsd:enumeration value="crowding" />
      <xsd:enumeration value="full" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:group name="DelayGroup">
    <xsd:annotation>
      <xsd:documentation>Group of delays found at a stop grou. Duratiosn relate to given validity condition.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="MinimumLikelyDelay" type="siri:DurationType">
        <xsd:annotation>
          <xsd:documentation>Minimum duration needed to pass through checkpoint.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="AverageDelay" type="siri:DurationType">
        <xsd:annotation>
          <xsd:documentation>Average duration expected to pass through checkpoint.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="MaximumLikelyDelay" type="siri:DurationType">
        <xsd:annotation>
          <xsd:documentation>Maximum duration expected to pass through checkpoint.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
</xsd:schema>