azure-website/SiriClientConsole3/Web References/WebReference/siri_situation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.siri.org.uk/siri" xmlns:D2LogicalModel="http://datex2.eu/schema/1_0/1_0" xmlns:ifopt="http://www.ifopt.org.uk/ifopt" xmlns:acsb="http://www.ifopt.org.uk/acsb" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.siri.org.uk/siri" version="1.0" id="siri_situation" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="../acsb/acsb_all-v0.3.xsd" namespace="http://www.ifopt.org.uk/acsb" />
  <xsd:import schemaLocation="../acsb/acsb_accessibility-v0.3.xsd" namespace="http://www.ifopt.org.uk/acsb" />
  <xsd:import schemaLocation="../datex2/DATEXIISchema_1_0_1_0.xsd" namespace="http://datex2.eu/schema/1_0/1_0" />
  <xsd:include schemaLocation="siri_situationIdentity-v1.1.xsd" />
  <xsd:include schemaLocation="siri_situationServiceTypes-v1.0.xsd" />
  <xsd:include schemaLocation="siri_situationReasons-v1.1.xsd" />
  <xsd:include schemaLocation="siri_situationClassifiers-v1.1.xsd" />
  <xsd:include schemaLocation="siri_situationAffects-v1.0.xsd" />
  <xsd:include schemaLocation="siri_situationActions-v1.0.xsd" />
  <xsd:annotation>
    <xsd:appinfo>
      <Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
        <Aggregation>main schema</Aggregation>
        <Audience>e-service developers</Audience>
        <Contributor>Add names </Contributor>
        <Coverage>Europe</Coverage>
        <Creator>&gt;Drafted for version 1.0  Kizoom situation Schema Nicholas Knowles, Kizoom. mailto:schemer@kizoom.org.uk</Creator>
        <Date>
          <Created>2004-09-29</Created>
        </Date>
        <Date>
          <Modified>2004-10-01</Modified>
        </Date>
        <Date>
          <Modified>2007-05-14</Modified>
        </Date>
        <Date>
          <Modified>2008-07-05</Modified>
          <!-- correct data tupe to be particpant ref  not participant pair-->
          <!-- add missign scopeType to classifier-->
        </Date>
        <Description>
          <p>Xtis is an XML schema for the exchange of structured situations  </p>
        </Description>
        <Format>
          <MediaType>text/xml</MediaType>
          <Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
          <Description>XML schema, W3C Recommendation 2001</Description>
        </Format>
        <Identifier>{http://www.kizoom.org.uk/standards/xtis/schemas/1.2}siri/siri_situation-v1.0.xsd</Identifier>
        <Language>[ISO 639-2/B] ENG</Language>
        <Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD</Publisher>
        <Relation>
          <Requires>http://www.siri.org.uk/schemas/1.3/siri_stop-v0.2.xsd</Requires>
          <Requires>http://www.siri.org.uk/schemas/1.3/siri_modes-v1.1.xsd</Requires>
          <Requires>http://www.siri.org.uk/schemas/1.3/siri_journey-v1.1.xsd</Requires>
        </Relation>
        <Rights>Unclassified                            <Copyright>Kizoom 2000-2007</Copyright></Rights>
        <Source>
          <ul>
            <li>Derived from the Kizoom schema </li>
          </ul>
        </Source>
        <Status>Version 1.0 Draft l</Status>
        <Subject>
          <Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,Air transport, Airports,Ports and maritime transport, Ferries (marine),Public transport, Bus services, Coach services, Bus stops and stations,Rail transport, Railway stations and track, Train services, Underground trains,Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,Rail transport, Roads and road transport</Category>
          <Project>Kizoom XTIS</Project>
        </Subject>
        <Title>Xml Schema for PT situations. Common element subschema</Title>
        <Type>Standard</Type>
      </Metadata>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:complexType name="AbstractSituationElementStructure">
    <xsd:annotation>
      <xsd:documentation>Type for abstract EntryAbstract type.  </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="CreationTime" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Time of creation of situation</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:group ref="SituationSharedIdentityGroup" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SituationElementStructure">
    <xsd:annotation>
      <xsd:documentation>Type for loggable Entry.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="AbstractSituationElementStructure">
        <xsd:sequence>
          <xsd:group ref="SituationInfoGroup" />
          <xsd:element minOccurs="0" name="VersionedAtTime" type="xsd:dateTime">
            <xsd:annotation>
              <xsd:documentation>Time at which Situation element was versioned. Once versioned, no furtr changes can be made</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="SituationInfoGroup">
    <xsd:annotation>
      <xsd:documentation>situation Informatiion.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="References" type="ReferencesStructure">
        <xsd:annotation>
          <xsd:documentation>Associations with other Situations.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Source" type="SituationSourceStructure">
        <xsd:annotation>
          <xsd:documentation>Information about source of information, that is, where the agent using the capture client obtained an item of information, or in the case of an automated feed, an identifier of the specific feed.  Can be used to obtain updates, verify details or otherwise assess relevance.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="ReferencesStructure">
    <xsd:annotation>
      <xsd:documentation>Type for references.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="RelatedToRef" type="RelatedSituationStructure">
        <xsd:annotation>
          <xsd:documentation>A reference to another Situation with an indication of the nature of the association, e.g. a cause, a result, an update.    Note that a Entry that is an update, i.e. has the same IdentifierNumber but a later version number as a previous Entry alway has a supercedes relationship and this does not need to be expliciitly coded.  </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RelatedSituationStructure">
    <xsd:annotation>
      <xsd:documentation>Type for a reference.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="CreationTime" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Time of creation of 'related to' assocation.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:group ref="SituationSharedIdentityGroup">
        <xsd:annotation>
          <xsd:documentation>Identifier elements for a structured  Reference to a  Situation element  or an update to a situation. Participant ref is optional and may be supplied from context</xsd:documentation>
        </xsd:annotation>
      </xsd:group>
      <xsd:element minOccurs="0" name="ExternalReference" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>A single string that identifiers the referenced Situation.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="RelatedAs" type="RelatedToEnumeration">
        <xsd:annotation>
          <xsd:documentation>Relationship of refercence to the referncing Situation e</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" ref="Extensions" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="RelatedToEnumeration">
    <xsd:annotation>
      <xsd:documentation>Values for Type of Source.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="cause" />
      <xsd:enumeration value="effect" />
      <xsd:enumeration value="update" />
      <xsd:enumeration value="supercedes" />
      <xsd:enumeration value="supercededBy" />
      <xsd:enumeration value="associated" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="PtSituationElement" type="PtSituationElementStructure">
    <xsd:annotation>
      <xsd:documentation>Type for individual IPT ncident.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="PtSituationElementStructure">
    <xsd:annotation>
      <xsd:documentation>Type for individual PT situation.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="SituationElementStructure">
        <xsd:sequence>
          <xsd:group ref="PtSituationBodyGroup" />
          <xsd:element minOccurs="0" ref="Extensions" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="PtSituationBodyGroup">
    <xsd:annotation>
      <xsd:documentation>Body of situation.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:group ref="StatusGroup" />
      <xsd:sequence>
        <xsd:group ref="TemporalGroup" />
        <xsd:group ref="ClassifierGroup" />
        <xsd:group ref="DescriptionGroup" />
        <xsd:group minOccurs="0" ref="PtBodyGroup" />
      </xsd:sequence>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="PtBodyGroup">
    <xsd:annotation>
      <xsd:documentation>Body of situation.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Affects" type="AffectsScopeStructure">
        <xsd:annotation>
          <xsd:documentation>Structured model identifiying parts of transport network affected by situation. Operator and Network values will be defaulted to values in general Context unless explicitly overridden.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Consequences" type="PtConsequencesStructure">
        <xsd:annotation>
          <xsd:documentation>Structured model describign effect of the situation on PT system.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="PublishingActions" type="ActionsStructure">
        <xsd:annotation>
          <xsd:documentation>Structured model describing distribution actions to handle situation. Any actions stated completely replace those from Context. If no actions are stated, any actions from general Context are used.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
  <xsd:element name="RoadSituationElement" type="RoadSituationElementStructure">
    <xsd:annotation>
      <xsd:documentation>Type for individual IPT ncident.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="RoadSituationElementStructure">
    <xsd:annotation>
      <xsd:documentation>Type for individual PT situation.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="SituationElementStructure">
        <xsd:sequence>
          <xsd:group ref="RoadSituationBodyGroup" />
          <xsd:element minOccurs="0" ref="Extensions" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="RoadSituationBodyGroup">
    <xsd:annotation>
      <xsd:documentation>Body of situation.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:group ref="StatusGroup" />
      <xsd:sequence>
        <xsd:group ref="TemporalGroup" />
        <xsd:group ref="ClassifierGroup" />
        <xsd:group ref="DescriptionGroup" />
        <xsd:group ref="RoadBodyGroup" />
      </xsd:sequence>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="RoadBodyGroup">
    <xsd:annotation>
      <xsd:documentation>Datex 2 situation.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Affects" type="AffectsScopeStructure">
        <xsd:annotation>
          <xsd:documentation>Structured model identifiying parts of transport network affected by situation. Operator and Network values will be defaulted to values in general Context unless explicitly overridden.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Consequences" type="PtConsequencesStructure">
        <xsd:annotation>
          <xsd:documentation>Structured model describign effect of the situation on PT system.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="PublishingActions" type="ActionsStructure">
        <xsd:annotation>
          <xsd:documentation>Structured model describing distribution actions to handle situation. Any actions stated completely replace those from Context. If no actions are stated, any actions from general Context are used.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="SituationRecord" type="D2LogicalModel:SituationRecord">
        <xsd:annotation>
          <xsd:documentation>Datex2 Situation Record</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="Datex2ManagementGroup">
    <xsd:annotation>
      <xsd:documentation>Datex2 situation management elements</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="situationRecordCreationReference" type="D2LogicalModel:String">
        <xsd:annotation>
          <xsd:documentation>A unique alphanumeric reference (either an external reference or GUID) of the SituationRecord object (the first version of the record) that was created by the original supplier.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="situationRecordCreationTime" type="D2LogicalModel:DateTime">
        <xsd:annotation>
          <xsd:documentation>The date/time that the SituationRecord object (the first version of the record) was created by the original supplier.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="situationRecordObservationTime" type="D2LogicalModel:DateTime">
        <xsd:annotation>
          <xsd:documentation>The date/time that the information represented by the current version of the SituationRecord was observed by the original (potentially external) source of the information.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="situationRecordVersion" type="D2LogicalModel:NonNegativeInteger">
        <xsd:annotation>
          <xsd:documentation>Each record within a situation may iterate through a series of versions during its life time.  The situation record version uniquely identifies the version of a particular record within a situation. It is generated and used by systems external to DATEX 2.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="situationRecordVersionTime" type="D2LogicalModel:DateTime">
        <xsd:annotation>
          <xsd:documentation>The date/time that this current version of the SituationRecord was written into the database of the supplier which is involved in the data exchange. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="situationRecordFirstSupplierVersionTime" type="D2LogicalModel:DateTime">
        <xsd:annotation>
          <xsd:documentation>The date/time that the current version of the Situation Record was written into the database of the original supplier in the supply chain.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="Datex2SituationGroup">
    <xsd:annotation>
      <xsd:documentation>Datex2 situation common elements</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="informationUsageOverride" type="D2LogicalModel:InformationUsageEnum">
        <xsd:annotation>
          <xsd:documentation>Defines the use to which the information contained in the situation record can be put. This overrides any usage defined for the situation as a whole in the header information.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="probabilityOfOccurrence" type="D2LogicalModel:ProbabilityOfOccurrenceEnum">
        <xsd:annotation>
          <xsd:documentation>An assessment of the degree of likelihood that the reported event will occur.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sourceInformation" type="D2LogicalModel:SourceInformation" />
      <xsd:element minOccurs="0" name="validity" type="D2LogicalModel:Validity" />
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="Datex2RoadGroup">
    <xsd:annotation>
      <xsd:documentation>Datex2 Trrffic element road </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="impact" type="D2LogicalModel:Impact">
        <xsd:annotation>
          <xsd:documentation>Impact of Road Situation as specified by Datex2.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="cause" type="D2LogicalModel:Cause">
        <xsd:annotation>
          <xsd:documentation>Impact of Road Situation as specified by Datex2 model.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="advice" type="D2LogicalModel:Advice">
        <xsd:annotation>
          <xsd:documentation>Advice of Road Situation as specified by Datex2 model.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="generalPublicComment" type="D2LogicalModel:Comment">
        <xsd:annotation>
          <xsd:documentation> Datex 2 comments for public use</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="nonGeneralPublicComment" type="D2LogicalModel:Comment">
        <xsd:annotation>
          <xsd:documentation>Ccomments not for public use</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="groupOfLocations" type="D2LogicalModel:GroupOfLocations">
        <xsd:annotation>
          <xsd:documentation>Datex 2 model of where event ois taking place on teh road</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="Datex2OtherGroup">
    <xsd:annotation>
      <xsd:documentation>Datex2 Tarffic element </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="management" type="D2LogicalModel:Management" />
      <xsd:element minOccurs="0" name="situationRecordExtension" type="D2LogicalModel:ExtensionType" />
      <xsd:element minOccurs="0" name="trafficElementExtension" type="D2LogicalModel:ExtensionType" />
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="AffectedRoadStructure">
    <xsd:annotation>
      <xsd:documentation>Type for Raod scope for scope of situation or effect.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Road" type="D2LogicalModel:ReferencePointLinear" />
      <xsd:group ref="ProjectionGroup">
        <xsd:annotation>
          <xsd:documentation>Optional spatial projection of road. Can be used to distriute the path of the road to systems that do not already hold it.  To pass just a refernce, use Datex2 location </xsd:documentation>
        </xsd:annotation>
      </xsd:group>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OptionalTrafficElementStructure" abstract="true">
    <xsd:annotation>
      <xsd:documentation>An event which is not planned by the traffic operator, which is affecting, or has the potential to affect traffic flow. This SIRI-SX element embeds the Datex2 TrafficElement, making all elements optional because  they may alternatvielky be specified by common  SIRI-SRX situation elements</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:group ref="Datex2ManagementGroup" />
      <xsd:group ref="Datex2SituationGroup" />
      <xsd:group ref="Datex2RoadGroup" />
      <xsd:group ref="Datex2OtherGroup" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="SituationSourceTypeEnumeration">
    <xsd:annotation>
      <xsd:documentation>Values for Type of Source.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="directReport" />
      <xsd:enumeration value="email" />
      <xsd:enumeration value="phone" />
      <xsd:enumeration value="fax" />
      <xsd:enumeration value="post" />
      <xsd:enumeration value="feed" />
      <xsd:enumeration value="radio" />
      <xsd:enumeration value="tv" />
      <xsd:enumeration value="web" />
      <xsd:enumeration value="pager" />
      <xsd:enumeration value="text" />
      <xsd:enumeration value="other" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="SituationSourceStructure">
    <xsd:annotation>
      <xsd:documentation>Type for a source ie provider of information.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Country" type="xsd:NMTOKEN">
        <xsd:annotation>
          <xsd:documentation>Country of origin of source element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SourceType" type="SituationSourceTypeEnumeration">
        <xsd:annotation>
          <xsd:documentation>Nature of Source.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:group ref="SituationSourceDetailsGroup">
        <xsd:annotation>
          <xsd:documentation>Further contact details about source. May be used for udpoates or verifcation.</xsd:documentation>
        </xsd:annotation>
      </xsd:group>
      <xsd:element minOccurs="0" name="SourceMethod" type="D2LogicalModel:SourceTypeEnum">
        <xsd:annotation>
          <xsd:documentation>Nature of method used to get Source.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="AgentReference" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Identifies the Agent, i.e. Capture client user who input an situation.  Available for use in intranet exchange of situations.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Name" type="NaturalLanguageStringStructure">
        <xsd:annotation>
          <xsd:documentation>Name of  for source.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="SourceRole" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Job title of Source.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="TimeOfCommunication" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Time of communication of message, if different from creation time.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ExternalCode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>External system reference to situation.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="SourceFile" type="xsd:anyURI">
        <xsd:annotation>
          <xsd:documentation>Electronic file / attachment containing information about situation.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:group name="SituationSourceDetailsGroup">
    <xsd:annotation>
      <xsd:documentation>Group of source details</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Email" type="EmailAddressType">
        <xsd:annotation>
          <xsd:documentation>Email of Supplier of information.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Phone" type="PhoneType">
        <xsd:annotation>
          <xsd:documentation>Phone number of Supplier of information.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Fax" type="PhoneType">
        <xsd:annotation>
          <xsd:documentation>Fax number of Supplier of information.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Web" type="xsd:anyURI">
        <xsd:annotation>
          <xsd:documentation>Information was obtained from a web site URL of site and/or page.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Other" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Other information about source.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="StatusGroup">
    <xsd:annotation>
      <xsd:documentation>Status elements.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Verification">
        <xsd:annotation>
          <xsd:documentation>Whether the situation has been verified.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="VerificationStatusEnumeration" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" default="open" name="Progress" type="WorkflowStatusEnumeration">
        <xsd:annotation>
          <xsd:documentation>ProgressStatus. One of a specified set of overall processing states assigned to situation. For example, 'Draft' for not yet published; 'Published' for live situations;  'Closed' indicates a completed situation. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="QualityIndex" type="QualityEnumeration">
        <xsd:annotation>
          <xsd:documentation>Assessement of likely correctness of data.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Reality" type="D2LogicalModel:InformationStatusEnum">
        <xsd:annotation>
          <xsd:documentation>Whether situation is real or a test.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Likelihood" type="D2LogicalModel:ProbabilityOfOccurrenceEnum">
        <xsd:annotation>
          <xsd:documentation>Likellihoo of a future sutuation happening.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Publication" type="PublicationStatusType">
        <xsd:annotation>
          <xsd:documentation>Publishing status one of a specified set of substates to which an situation can be assigned. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
  <xsd:simpleType name="WorkflowStatusEnumeration">
    <xsd:annotation>
      <xsd:documentation>Values for Entry Status.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="draft" />
      <xsd:enumeration value="approvedDraft" />
      <xsd:enumeration value="open" />
      <xsd:enumeration value="published" />
      <xsd:enumeration value="closing" />
      <xsd:enumeration value="closed" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PublicationStatusType">
    <xsd:annotation>
      <xsd:documentation>Type for Publication status.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:NMTOKEN" />
  </xsd:simpleType>
  <xsd:simpleType name="QualityEnumeration">
    <xsd:annotation>
      <xsd:documentation>Type for  Quality of data indication.           </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="certain" />
      <xsd:enumeration value="veryReliable" />
      <xsd:enumeration value="reliable" />
      <xsd:enumeration value="probablyReliable" />
      <xsd:enumeration value="unconfirmed" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:group name="TemporalGroup">
    <xsd:annotation>
      <xsd:documentation>Elements affecting temporal scope of situation.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="ValidityPeriod">
        <xsd:annotation>
          <xsd:documentation>Overall inclusive Period of applicability of situation</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:complexContent mixed="false">
            <xsd:extension base="HalfOpenTimestampRangeStructure" />
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="Repetitions">
        <xsd:annotation>
          <xsd:documentation>situation applies only on the repeated day types within the overall validity period(s). For example Sunday.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" ref="DayType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="PublicationWindow" type="HalfOpenTimestampRangeStructure">
        <xsd:annotation>
          <xsd:documentation>Publication Window for situation if different from validity period.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="ClassifierGroup">
    <xsd:annotation>
      <xsd:documentation>Structured Classification Elements. Corresponds to TPEG 18 Event Reason.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:group ref="ReasonGroup" />
      <xsd:element minOccurs="0" ref="Severity" />
      <xsd:element minOccurs="0" name="Priority" type="xsd:nonNegativeInteger">
        <xsd:annotation>
          <xsd:documentation>Arbitrary rating of priority  1-High.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Sensitivity" type="SensitivityEnumeration">
        <xsd:annotation>
          <xsd:documentation>Confidentiality of situation.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" default="public" name="Audience" type="AudienceEnumeration">
        <xsd:annotation>
          <xsd:documentation>Intended audience of situation.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ScopeType">
        <xsd:annotation>
          <xsd:documentation>Nature of scope, e.g. general, network</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="ScopeTypeEnumeration" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" ref="ReportType" />
      <xsd:element minOccurs="0" default="false" name="Planned" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Whether the situation was planned (eg engineering works) or unplanned (eg service alteration). Default is false, i.e. unplanned.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Keywords" type="xsd:NMTOKENS">
        <xsd:annotation>
          <xsd:documentation>Arbitrary application specific classifiers.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="SecondaryReasons">
        <xsd:annotation>
          <xsd:documentation>additioanl reasons</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence maxOccurs="unbounded">
            <xsd:element name="Reason">
              <xsd:annotation>
                <xsd:documentation>Reason</xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:group ref="ReasonGroup" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="ReasonGroup">
    <xsd:annotation>
      <xsd:documentation>StructuredReason Elements</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:group ref="TpegReasonGroup" />
      <xsd:element minOccurs="0" name="PublicEventReason" type="D2LogicalModel:PublicEventTypeEnum">
        <xsd:annotation>
          <xsd:documentation>Classifier of Pub;ic Event</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ReasonName" type="NaturalLanguageStringStructure">
        <xsd:annotation>
          <xsd:documentation>Text explanation of situation reason. Not normally needed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
  <xsd:simpleType name="SensitivityEnumeration">
    <xsd:annotation>
      <xsd:documentation>Values for Sensitivity.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="veryHigh" />
      <xsd:enumeration value="high" />
      <xsd:enumeration value="medium" />
      <xsd:enumeration value="low" />
      <xsd:enumeration value="veryLow" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AudienceEnumeration">
    <xsd:annotation>
      <xsd:documentation>Values for Audience.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="public" />
      <xsd:enumeration value="emergencyServices" />
      <xsd:enumeration value="staff" />
      <xsd:enumeration value="stationStaff" />
      <xsd:enumeration value="management" />
      <xsd:enumeration value="infoServices" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="NatureEnumeration">
    <xsd:annotation>
      <xsd:documentation>Type for  Quality of data indication.           </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="plannedOnly" />
      <xsd:enumeration value="unplannedOnly" />
      <xsd:enumeration value="both" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ScopeTypeEnumeration">
    <xsd:annotation>
      <xsd:documentation>Values for ScopeType</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="general" />
      <xsd:enumeration value="operator" />
      <xsd:enumeration value="network" />
      <xsd:enumeration value="route" />
      <xsd:enumeration value="line" />
      <xsd:enumeration value="place" />
      <xsd:enumeration value="stopPlace" />
      <xsd:enumeration value="stopPlaceComponent" />
      <xsd:enumeration value="stopPoint" />
      <xsd:enumeration value="vehicleJourney" />
      <xsd:enumeration value="datedVehicleJourney" />
      <xsd:enumeration value="connectionLink" />
      <xsd:enumeration value="interchange" />
      <xsd:enumeration value="road" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="AffectsScopeStructure">
    <xsd:annotation>
      <xsd:documentation>Type for Location model for scope of situation or effect.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="AreaOfInterest" type="D2LogicalModel:AreaOfInterestEnum">
        <xsd:annotation>
          <xsd:documentation>Affected overall Geographic scope. Enumeration.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Operators">
        <xsd:annotation>
          <xsd:documentation>Affected operators, If absent, taken from context. If present, any operators stated completely replace those from context.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:choice>
            <xsd:element name="AllOperators" type="EmptyType">
              <xsd:annotation>
                <xsd:documentation>All operators.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" name="AffectedOperator" type="AffectedOperatorStructure">
              <xsd:annotation>
                <xsd:documentation>Operators of services affected by situation.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:choice>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="Networks">
        <xsd:annotation>
          <xsd:documentation>Networks affected by situation.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="AffectedNetwork">
              <xsd:annotation>
                <xsd:documentation>Nrtworks and Route(s) affected by situation</xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:complexContent mixed="false">
                  <xsd:extension base="AffectedNetworkStructure" />
                </xsd:complexContent>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="StopPoints">
        <xsd:annotation>
          <xsd:documentation>Stop points affected by situation.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="AffectedStopPoint" type="AffectedStopPointStructure">
              <xsd:annotation>
                <xsd:documentation>Stop affected by situation.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="StopPlaces">
        <xsd:annotation>
          <xsd:documentation>Places other than Stop points affected by situation.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="AffectedStopPlace" type="AffectedStopPlaceStructure">
              <xsd:annotation>
                <xsd:documentation>Stop affected by situation.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="Places">
        <xsd:annotation>
          <xsd:documentation>Places other than Stop points affected by situation.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="AffectedPlace" type="AffectedPlaceStructure">
              <xsd:annotation>
                <xsd:documentation>Stop affected by situation.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="VehicleJourneys">
        <xsd:annotation>
          <xsd:documentation>Specific journeys affected by situation.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="AffectedVehicleJourney" type="AffectedVehicleJourneyStructure" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="Roads" type="AffectedRoadsStructure">
        <xsd:annotation>
          <xsd:documentation>Roads affected by </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" ref="Extensions" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AffectedRoadsStructure">
    <xsd:annotation>
      <xsd:documentation>Type for Location model for scope of situation or effect.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Datex2Locations" type="D2LogicalModel:GroupOfLocations">
        <xsd:annotation>
          <xsd:documentation>Refereences to road network locations affected by the Situation</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="AffectedRoad" type="AffectedRoadStructure">
        <xsd:annotation>
          <xsd:documentation>Description of affected road</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ImageStructure">
    <xsd:annotation>
      <xsd:documentation>Type for image </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="ImageRef" type="xsd:anyURI">
          <xsd:annotation>
            <xsd:documentation>Reference to an image</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="ImageBinary" type="xsd:base64Binary">
          <xsd:annotation>
            <xsd:documentation>Embedded image.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
      <xsd:element minOccurs="0" name="ImageContent" type="ImageContentEnumeration">
        <xsd:annotation>
          <xsd:documentation>Categorisation of image content.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:group name="DescriptionGroup">
    <xsd:annotation>
      <xsd:documentation>Text description of situation. Some or all of this may have been generated from the other structured content elements. Where text has been overriden this is indicated.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" default="en" name="Language" type="xsd:NMTOKEN">
        <xsd:annotation>
          <xsd:documentation>Default language.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Summary" type="DefaultedTextStructure">
        <xsd:annotation>
          <xsd:documentation>Summary of situation. If absent should be generated from structure elements / and or by condensing Description. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Description" type="DefaultedTextStructure">
        <xsd:annotation>
          <xsd:documentation>Description of situation. Should not repeat any strap line included in Summary.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Detail" type="DefaultedTextStructure">
        <xsd:annotation>
          <xsd:documentation>Additional descriptive details about the situation.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Advice" type="DefaultedTextStructure">
        <xsd:annotation>
          <xsd:documentation>Further advice to passengers. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Internal" type="DefaultedTextStructure">
        <xsd:annotation>
          <xsd:documentation>Further advice to passengers. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Images">
        <xsd:annotation>
          <xsd:documentation>Any images associated with situation.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="Image">
              <xsd:annotation>
                <xsd:documentation>Image description.</xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:complexContent mixed="false">
                  <xsd:extension base="ImageStructure" />
                </xsd:complexContent>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="InfoLinks">
        <xsd:annotation>
          <xsd:documentation>Hyperlinks to other resources associated with situation.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="InfoLink" type="InfoLinkStructure">
              <xsd:annotation>
                <xsd:documentation>Hyperlink description</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
  <xsd:simpleType name="ImageContentEnumeration">
    <xsd:annotation>
      <xsd:documentation>Values for image content.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="map" />
      <xsd:enumeration value="graphic" />
      <xsd:enumeration value="logo" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="DefaultedTextStructure">
    <xsd:annotation>
      <xsd:documentation>Type for a text that may be overridden.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="NaturalLanguageStringStructure">
        <xsd:attribute default="true" name="overridden" type="xsd:boolean" use="optional">
          <xsd:annotation>
            <xsd:documentation>Whether the text value has been overridden from  the generated default. Defult is true</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="LinkContentEnumeration">
    <xsd:annotation>
      <xsd:documentation>Values for image content.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="timetable" />
      <xsd:enumeration value="relatedSite" />
      <xsd:enumeration value="details" />
      <xsd:enumeration value="advice" />
      <xsd:enumeration value="other" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="InfoLinkStructure">
    <xsd:annotation>
      <xsd:documentation>Type for a general hyperlink.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Uri" type="xsd:anyURI">
        <xsd:annotation>
          <xsd:documentation>URI for link.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Label" type="NaturalLanguageStringStructure">
        <xsd:annotation>
          <xsd:documentation>Label for Link</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Image" type="ImageStructure">
        <xsd:annotation>
          <xsd:documentation>Image to use when presenting hyperlink</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="LinkContent" type="LinkContentEnumeration">
        <xsd:annotation>
          <xsd:documentation>Categorisation of link content. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PtConsequencesStructure">
    <xsd:annotation>
      <xsd:documentation>Type for list of effects.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="Consequence" type="PtConsequenceStructure">
        <xsd:annotation>
          <xsd:documentation>Nature of the effect to disrupt  (or restore) service, and further details.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PtConsequenceStructure">
    <xsd:annotation>
      <xsd:documentation>Type for disruption.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Period" type="HalfOpenTimestampRangeStructure">
        <xsd:annotation>
          <xsd:documentation>Period of effect of disruption, if different from that of situation.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" ref="Condition" />
      <xsd:element name="Severity" type="SeverityEnumeration">
        <xsd:annotation>
          <xsd:documentation>Severity of disruption if different from that of situation. TPEG pti26</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Affects" type="AffectsScopeStructure">
        <xsd:annotation>
          <xsd:documentation>Parts of transport network affected by disruption if different from that of  situation.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Suitabilities">
        <xsd:annotation>
          <xsd:documentation>Effect on different passenger needs</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="Suitability" type="acsb:SuitabilityStructure">
              <xsd:annotation>
                <xsd:documentation>Effect on a passenger need.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="Advice" type="PtAdviceStructure">
        <xsd:annotation>
          <xsd:documentation>Advice to passengers.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Blocking" type="BlockingStructure">
        <xsd:annotation>
          <xsd:documentation>How Disruption should be handled in Info systems</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Boarding" type="BoardingStructure">
        <xsd:annotation>
          <xsd:documentation>Change to normal boarding activity allowed at stop.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Delays" type="DelaysStructure" />
      <xsd:element minOccurs="0" name="Casualties" type="CasualtiesStructure">
        <xsd:annotation>
          <xsd:documentation>Information on casualties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Easements" type="EasementsStructure">
        <xsd:annotation>
          <xsd:documentation>Description of fare exceptions allowed because of disruption.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" ref="Extensions" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PtAdviceStructure">
    <xsd:annotation>
      <xsd:documentation>Type for advice</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="AdviceRef" type="AdviceRefStructure">
        <xsd:annotation>
          <xsd:documentation>Identifier of standard Further advice message to passengers. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Details" type="NaturalLanguageStringStructure">
        <xsd:annotation>
          <xsd:documentation>Further Textual advice to passengers.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BlockingStructure">
    <xsd:annotation>
      <xsd:documentation>Type for blocking</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" default="false" name="JourneyPlanner" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Whether information about parts of the network identified by Affects should be blocked from the Journey Planner. Default is false; do not suppress.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" default="false" name="RealTime" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Whether information about parts of the network identified by Affects should be blocked from real-time departureinfo systems.  Default is false; do not suppress.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EasementsStructure">
    <xsd:annotation>
      <xsd:documentation>Type for easement info.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="TicketRestrictions" type="TicketRestrictionEnumeration">
        <xsd:annotation>
          <xsd:documentation>Ticket restriction conditiosn in effect. TPEG pti table pti25.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Easement" type="NaturalLanguageStringStructure">
        <xsd:annotation>
          <xsd:documentation>Description of fare exceptions allowed because of disruption.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="EasementRef" type="NaturalLanguagePlaceNameStructure">
        <xsd:annotation>
          <xsd:documentation>Identifier of a fare exceptions code allowed because of the disruption.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DelaysStructure">
    <xsd:annotation>
      <xsd:documentation>Type for easement info.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="DelayBand" type="D2LogicalModel:DelayCodeEnum">
        <xsd:annotation>
          <xsd:documentation>Time band into which delay will fall.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="DelayType" type="D2LogicalModel:DelaysTypeEnum">
        <xsd:annotation>
          <xsd:documentation>Category of delay.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Delay" type="PositiveDurationType">
        <xsd:annotation>
          <xsd:documentation>Additional Journey time needed to overcome disruption.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>