azure-website/SiriClientConsole3/Web References/WebReference/siri_facility.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.siri.org.uk/siri" xmlns:ifopt="http://www.ifopt.org.uk/ifopt" xmlns:acsb="http://www.ifopt.org.uk/acsb" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.siri.org.uk/siri" version="1.2" id="siri_facility" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="siri_facilities-v1.2.xsd" />
  <xsd:include schemaLocation="siri_reference-v1.2.xsd" />
  <xsd:include schemaLocation="siri_journey-v1.2.xsd" />
  <xsd:include schemaLocation="siri_operator-v1.2.xsd" />
  <xsd:import schemaLocation="../ifopt/ifopt_allStopPlace-v0.3.xsd" namespace="http://www.ifopt.org.uk/ifopt" />
  <xsd:import schemaLocation="../ifopt/ifopt_stop-v0.3.xsd" namespace="http://www.ifopt.org.uk/ifopt" />
  <xsd:import schemaLocation="../ifopt/ifopt_equipment-v0.3.xsd" namespace="http://www.ifopt.org.uk/ifopt" />
  <xsd:import schemaLocation="../acsb/acsb_all-v0.3.xsd" namespace="http://www.ifopt.org.uk/acsb" />
  <xsd:import schemaLocation="../acsb/acsb_accessibility-v0.3.xsd" namespace="http://www.ifopt.org.uk/acsb" />
  <xsd:import schemaLocation="../acsb/acsb_passengerMobility-v0.3.xsd" namespace="http://www.ifopt.org.uk/acsb" />
  <xsd:import schemaLocation="../acsb/acsb_limitations-v0.2.xsd" namespace="http://www.ifopt.org.uk/acsb" />
  <xsd:include schemaLocation="siri_time-v1.2.xsd" />
  <xsd:include schemaLocation="siri_utility-v1.1.xsd" />
  <xsd:annotation>
    <xsd:appinfo>
      <Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
        <Aggregation>main schema</Aggregation>
        <Audience>e-service developers</Audience>
        <Contributor> Cen TC278 WG3 SG7 Team</Contributor>
        <Coverage>Europe</Coverage>
        <Creator>Drafted for version 1.0 Cen TC278 WG3 SG7 Editor Nicholas Knowles, Kizoom. mailto:schemer@siri.org.uk</Creator>
        <Date>
          <Created>2005-11-15</Created>
        </Date>
        <Date>
          <Modified>2005-11-20</Modified>
        </Date>
        <Date>
          <Modified>2007-03-29</Modified>
        </Date>
        <Date>
          <Modified>2008-01-11</Modified>
        </Date>
        <Date>
          <Modified>2008-07-05</Modified>
          <!-- USe Accessibility assessment from ifopt -->
        </Date>
        <Description>
          <p>SIRI is a European CEN standard for the exchange of real time information .                        This is a package of type modules for equipment availability</p>
        </Description>
        <Format>
          <MediaType>text/xml</MediaType>
          <Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
          <Description>XML schema, W3C Recommendation 2001</Description>
        </Format>
        <Identifier>{http://www.siri.org.uk/schemas/1.3/siri}siri_reference-v1.2.xsd</Identifier>
        <Language>[ISO 639-2/B] ENG</Language>
        <Publisher>CEN</Publisher>
        <Relation>
          <Requires>http://www.siri.org.uk/schemas/1.3/siri/siri_types-v1.1.xsd</Requires>
        </Relation>
        <Rights>Unclassified                            <Copyright>CEN, VDV, RTIG  2004,2005, 2007</Copyright></Rights>
        <Source>
          <ul>
            <li>Derived from  TransModel and Trident standards.</li>
          </ul>
        </Source>
        <Status>Version 1.0 Draft</Status>
        <Subject>
          <Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,Air transport, Airports,Ports and maritime transport, Ferries (marine),Public transport, Bus services, Coach services, Bus stops and stations,Rail transport, Railway stations and track, Train services, Underground trains,Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,Rail transport, Roads and road transport</Category>
          <Project>Cen TC278 WG3 SG7</Project>
        </Subject>
        <Title>SIRI XML schema. Service Interface for Real Time Information relating to Public Transport Operations. Common Facility Elements</Title>
        <Type>Standard</Type>
      </Metadata>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:simpleType name="FacilityCodeType">
    <xsd:annotation>
      <xsd:documentation>Data Type for Identifier of a Faclility</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:NMTOKEN" />
  </xsd:simpleType>
  <xsd:element name="FacilityRef" type="FacilityRefStructure">
    <xsd:annotation>
      <xsd:documentation>Reference to a Facility</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="FacilityRefStructure">
    <xsd:annotation>
      <xsd:documentation>Data Type for Reference to a Faclility</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="FacilityCodeType" />
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="FacilityStructure">
    <xsd:annotation>
      <xsd:documentation>Type for sescription the facility itself</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="FacilityCode" type="FacilityCodeType">
        <xsd:annotation>
          <xsd:documentation>Identfier of Facility</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Description" type="NaturalLanguageStringStructure">
        <xsd:annotation>
          <xsd:documentation>Textual description of the facility</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="FacilityClass" type="FacilityCategoryEnumeration">
        <xsd:annotation>
          <xsd:documentation>Type of facility (several types may be associated to a single facility)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Features">
        <xsd:annotation>
          <xsd:documentation>Features of service</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="Feature" type="AllFacilitiesFeatureStructure">
              <xsd:annotation>
                <xsd:documentation>Description of the feauture of the facility. Several features may be associated to a single facility.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="OwnerRef" type="OrganisationRefStructure">
        <xsd:annotation>
          <xsd:documentation>Refererence to identifier of owner of  facility</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="OwnerName" type="NaturalLanguageStringStructure">
        <xsd:annotation>
          <xsd:documentation>Textual description of teh owner of the facility</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ValidityCondition" type="MonitoringValidityConditionStructure">
        <xsd:annotation>
          <xsd:documentation>When Facility is normally avaialble. If not specified default is always. Values are Logically ANDed together. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="FacilityLocation" type="FacilityLocationStructure">
        <xsd:annotation>
          <xsd:documentation>Describes where the facility is located. The location is a Transmodel object reference or an IFOPT object reference.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:group ref="FacilityAccessibilityGroup" />
      <xsd:element minOccurs="0" name="AccessibilityAssessment" type="acsb:AccessibilityAssessmentStructure">
        <xsd:annotation>
          <xsd:documentation>Accessibility of the facility</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" ref="Extensions" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:group name="FacilityScheduleRefGroup">
    <xsd:annotation>
      <xsd:documentation>Group of Facility accessibility elements</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="LineRef" />
      <xsd:element minOccurs="0" ref="StopPointRef" />
      <xsd:element minOccurs="0" ref="VehicleRef" />
      <xsd:element minOccurs="0" ref="DatedVehicleJourneyRef" />
      <xsd:element minOccurs="0" ref="ConnectionLinkRef" />
      <xsd:element minOccurs="0" ref="InterchangeRef" />
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="FacilityStopPlaceRefGroup">
    <xsd:annotation>
      <xsd:documentation>Group of Facility accessibility elements</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="StopPlaceRef" type="ifopt:StopPlaceRefStructure">
        <xsd:annotation>
          <xsd:documentation>Reference to a Stop Place</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="StopPlaceComponentId" type="ifopt:StopPlaceComponentRefStructure">
        <xsd:annotation>
          <xsd:documentation>System identifier of Stop Place component. Unique at least within Stop Place and concrete component type.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="FacilityAccessibilityGroup">
    <xsd:annotation>
      <xsd:documentation>Group of Facility accessibility elements</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Limitations">
        <xsd:annotation>
          <xsd:documentation>Limitation of facility</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:group ref="acsb:MobilityLimitationGroup" />
            <xsd:group ref="acsb:SensoryLimitationGroup" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="Suitabilities">
        <xsd:annotation>
          <xsd:documentation>Suitabilities of facility for specific passenger needs </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="Suitability" type="acsb:SuitabilityStructure">
              <xsd:annotation>
                <xsd:documentation>Type of specific need for wich the facility is appropriate</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
  <xsd:simpleType name="FacilityCategoryEnumeration">
    <xsd:annotation>
      <xsd:documentation>Generic catégory of a facility</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="unknown" />
      <xsd:enumeration value="fixedEquipment" />
      <xsd:enumeration value="serviceProvidedByIndividual" />
      <xsd:enumeration value="serviceForPersonalDevice" />
      <xsd:enumeration value="reservedArea" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="FacilityStatusEnumeration">
    <xsd:annotation>
      <xsd:documentation>Identification of the status of a facility</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="unknown" />
      <xsd:enumeration value="available" />
      <xsd:enumeration value="notAvailable" />
      <xsd:enumeration value="partiallyAvailable" />
      <xsd:enumeration value="added" />
      <xsd:enumeration value="removed" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="FacilityStatusChangeEnumeration">
    <xsd:annotation>
      <xsd:documentation>Identification of the status of a facility</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="unknown" />
      <xsd:enumeration value="added" />
      <xsd:enumeration value="removed" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="FacilityStatusStructure">
    <xsd:annotation>
      <xsd:documentation>Descritpion of the status of a facility</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Status" type="FacilityStatusEnumeration">
        <xsd:annotation>
          <xsd:documentation>Status of the facility.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Description" type="NaturalLanguageStringStructure">
        <xsd:annotation>
          <xsd:documentation>Description of the facility Status</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="AccessibilityAssessment" type="acsb:AccessibilityAssessmentStructure">
        <xsd:annotation>
          <xsd:documentation>Accessibility of the facility</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" ref="Extensions" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FacilityLocationStructure">
    <xsd:annotation>
      <xsd:documentation>Location of the facility</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:group ref="FacilityScheduleRefGroup">
        <xsd:annotation>
          <xsd:documentation>Group of Facility accessibility elements</xsd:documentation>
        </xsd:annotation>
      </xsd:group>
      <xsd:group ref="FacilityStopPlaceRefGroup">
        <xsd:annotation>
          <xsd:documentation>Group of Facility accessibility elements</xsd:documentation>
        </xsd:annotation>
      </xsd:group>
      <xsd:group ref="ServiceInfoGroup" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="FacilityConditionElement" type="FacilityConditionStructure">
    <xsd:annotation>
      <xsd:documentation>Description of any change concernin g a facility. New structure defined in SIRI XSD 1.1 for Facilities Management</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="FacilityConditionStructure">
    <xsd:annotation>
      <xsd:documentation>Description of any change concernin g a facility. New structure defined in SIRI XSD 1.1 for Faclities Management</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="Facility" type="FacilityStructure">
          <xsd:annotation>
            <xsd:documentation>Facility affected by condition</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element ref="FacilityRef" />
      </xsd:choice>
      <xsd:element name="FacilityStatus" type="FacilityStatusStructure">
        <xsd:annotation>
          <xsd:documentation>Status of Facility.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" ref="SituationRef" />
      <xsd:element minOccurs="0" name="Remedy" type="RemedyStructure">
        <xsd:annotation>
          <xsd:documentation>Setup action to remedy the change of the facility status (if partialy or totaly anavailable)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="MonitoringInfo" type="MonitoringInformationStructure">
        <xsd:annotation>
          <xsd:documentation>Description of the mechanism used to monitor the change of the facility status</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ValidityPeriod" type="HalfOpenTimestampRangeStructure">
        <xsd:annotation>
          <xsd:documentation>Period (duration) of the status change for the facility</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" ref="Extensions" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="RemedyTypeEnumeration">
    <xsd:annotation>
      <xsd:documentation>Types of action to remedy  a faclityt change</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="unknown" />
      <xsd:enumeration value="replace" />
      <xsd:enumeration value="repair" />
      <xsd:enumeration value="remove" />
      <xsd:enumeration value="otherRoute" />
      <xsd:enumeration value="otherLocation" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="RemedyStructure">
    <xsd:annotation>
      <xsd:documentation>Description of the remedy to the change of a facility status (mainly when it becomes partially or totally anavailable)</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="RemedyType" type="RemedyTypeEnumeration">
        <xsd:annotation>
          <xsd:documentation>Type of the remedy (repair/replacement/remove)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Description" type="NaturalLanguageStringStructure">
        <xsd:annotation>
          <xsd:documentation>Description of the  set up remedy in natural language</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" ref="Extensions" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MonitoringInformationStructure">
    <xsd:annotation>
      <xsd:documentation>Type for Description of the monitoring conditions (frequency of mesurement, etc): an automatic monitoring of the satus of a lift with pushed alert in case of incident is very different from a daily manual/visual check ....</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="MonitoringInterval" type="xsd:duration">
        <xsd:annotation>
          <xsd:documentation>Mean time interval between two measurements.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="MonitoringType" type="MonitoringTypeEnumeration">
        <xsd:annotation>
          <xsd:documentation>How monitoring is automatic, manual, etc...</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:group ref="MonitoringValidityCondition" />
      <xsd:element minOccurs="0" name="MonitoringPeriod" type="MonitoringValidityConditionStructure">
        <xsd:annotation>
          <xsd:documentation>When the monitorign operates. If absent always. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" ref="Extensions" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="MonitoringTypeEnumeration">
    <xsd:annotation>
      <xsd:documentation>Types of monitoring: automatic or manual - describing the hardware transducer (video, GPS/Radio, in-road sensors, etc.) doesn't seeme useful for SIRI</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="unknown" />
      <xsd:enumeration value="manual" />
      <xsd:enumeration value="automatic" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="MonitoringValidityConditionStructure">
    <xsd:annotation>
      <xsd:documentation>Type for Description of the monitoring conditions (frequency of mesurement, etc): an automatic monitoring of the satus of a lift with pushed alert in case of incident is very different from a daily manual/visual check ....</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Period" type="HalfOpenTimestampRangeStructure">
        <xsd:annotation>
          <xsd:documentation>Date and Time range within which condition is available </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Timeband" type="HalfOpenTimeRangeStructure">
        <xsd:annotation>
          <xsd:documentation>Monitoring period within a single day (monitoring may not be available at night, or may ony occur at certain time of day for manual monitoring, etc.). Several periods can be defined</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="DayType" type="DaysOfWeekEnumerationx">
        <xsd:annotation>
          <xsd:documentation>Days type for monitoring availability</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="HolidayType" type="HolidayTypeEnumerationx">
        <xsd:annotation>
          <xsd:documentation>Holiday type for monitoring availability</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:group name="MonitoringValidityCondition">
    <xsd:annotation>
      <xsd:documentation>Elenets for monitoing valiidity</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence />
  </xsd:group>
  <xsd:element name="FacilityChangeElement" type="FacilityChangeStructure">
    <xsd:annotation>
      <xsd:documentation>Availaibility Change of Equipment. Basic structure defined in the first 1.0 SIRI XSD</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="EquipmentAvailabilityStructure">
    <xsd:annotation>
      <xsd:documentation>Type for Availaibility Change of Equipment.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="EquipmentRef" type="ifopt:EquipmentRefStructure">
        <xsd:annotation>
          <xsd:documentation>Identifier of the equipment.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Description" type="NaturalLanguageStringStructure">
        <xsd:annotation>
          <xsd:documentation>Description of equipment.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="EquipmentTypeRef" type="ifopt:EquipmentTypeRefStructure">
        <xsd:annotation>
          <xsd:documentation>Reference to Equipment type identifier.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ValidityPeriod" type="HalfOpenTimestampRangeStructure">
        <xsd:annotation>
          <xsd:documentation>Period for which Status Change applies. If omitted, indefinite period.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element default="notAvailable" name="EquipmentStatus" type="ifopt:EquipmentStatusEnumeration">
        <xsd:annotation>
          <xsd:documentation>Status of the equipment available. Enumeration. Default is not available.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="EquipmentFeatures">
        <xsd:annotation>
          <xsd:documentation>Service Features associated with equipment. </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="FeatureRef" type="FeatureRefStructure">
              <xsd:annotation>
                <xsd:documentation>Service or Stop features associated with equipment. Recommended values based on TPEG are given in SIRI documentation and enumerated in the siri_facilities package.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" ref="Extensions" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FacilityChangeStructure">
    <xsd:annotation>
      <xsd:documentation>Type for change to equipment availability. Basic structure defined in the first 1.0 SIRI XSD</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="EquipmentAvailability" type="EquipmentAvailabilityStructure">
        <xsd:annotation>
          <xsd:documentation>Availability change for Equipment item. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" ref="SituationRef" />
      <xsd:element minOccurs="0" name="MobilityDisruption" type="MobilityDisruptionStructure">
        <xsd:annotation>
          <xsd:documentation>Effect of  change on impaired access users.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MobilityDisruptionStructure">
    <xsd:annotation>
      <xsd:documentation>Effect of equipment availability change on impaired access users.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="MobilityImpairedAccess" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Whether stop or service is accessible to mobility impaired users. This may be further qualified by one ore more MobilityFacility instances  to specify which types of mobility access are available (true) or not available (false). For example suitableForWheelChair, or 'tepFreeAccess.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="AccessFacility">
        <xsd:annotation>
          <xsd:documentation>Classification of Mobility Facility  type -  Based on Tpeg  pti23.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:group name="DisruptionGroup">
    <xsd:annotation>
      <xsd:documentation>Elements describing nature of disruption.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="FacilityConditionElement">
        <xsd:annotation>
          <xsd:documentation>Information about a change of Equipment availabiltiy at stop that may affect access or use.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:sequence>
        <xsd:annotation>
          <xsd:documentation>This sequence is here only for compatibility reasons between Siri 1.0 and Siri 1.1</xsd:documentation>
        </xsd:annotation>
        <xsd:element minOccurs="0" ref="FacilityChangeElement" />
        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="SituationRef" />
      </xsd:sequence>
    </xsd:sequence>
  </xsd:group>
</xsd:schema>