azure-website/SiriClientConsole3/Web References/WebReference/siri_SituationExchange_service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.siri.org.uk/siri" xmlns:D2LogicalModel="http://datex2.eu/schema/1_0/1_0" xmlns:ifopt="http://www.ifopt.org.uk/ifopt" xmlns:acsb="http://www.ifopt.org.uk/acsb" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.siri.org.uk/siri" version="1.3" id="siri_SituationExchange_service" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="ifopt/ifopt_allStopPlace-v0.3.xsd" namespace="http://www.ifopt.org.uk/ifopt" />
  <xsd:import schemaLocation="acsb/acsb_all-v0.3.xsd" namespace="http://www.ifopt.org.uk/acsb" />
  <xsd:import schemaLocation="acsb/acsb_passengerMobility-v0.3.xsd" namespace="http://www.ifopt.org.uk/acsb" />
  <xsd:import schemaLocation="datex2/DATEXIISchema_1_0_1_0.xsd" namespace="http://datex2.eu/schema/1_0/1_0" />
  <xsd:include schemaLocation="siri/siri_situation-v1.0.xsd" />
  <xsd:include schemaLocation="siri/siri_requests-v1.2.xsd" />
  <xsd:include schemaLocation="siri/siri_permissions-v1.1.xsd" />
  <xsd:annotation>
    <xsd:appinfo>
      <Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
        <Aggregation>main schema</Aggregation>
        <Audience>e-service developers</Audience>
        <Contributor> CEN TC278 WG3 SG7 Team</Contributor>
        <Coverage>Europe</Coverage>
        <Creator>Drafted for version 1.1 CEN TC278 WG3 SG7 Editor Nicholas Knowles, Kizoom. mailto:schemer@siri.org.uk
                                Drafted for version 1.0  CEN TC278 WG3 SG7 Editor Nicholas Knowles, Kizoom. mailto:schemer@siri.org.uk
                </Creator>
        <Date>
          <Created>2008-01-22</Created>
        </Date>
        <Date>
          <Modified>2008-01-22</Modified>
        </Date>
        <Date>
          <Modified>2009-04-17</Modified>
          <!-- Name Space changes -->
        </Date>
        <Date>
          <Modified>2008-01-17</Modified>
          <!-- IFOPT & Datex2 compatibility changes  -->
        </Date>
        <Date>
          <Modified>2008-07-05</Modified>
          <!-- Allow zero sized Situations  -->
        </Date>
        <Date>
          <Modified>2008-10-01</Modified>
          <!-- Add StatusFilterGroup  to SIRI-SX request with Verification,   Progerss and Reality-->
          <!-- Change caridnality on LineRef & Connectionlink filters to allow many -->
          <!-- Corret predictalibility filter values to be an enum -->
          <!-- Add a place and Road filter -->
        </Date>
        <Date>
          <Modified>2008-11-17</Modified>
          <!-- Revise to support substitution groups -->
        </Date>
        <Description>
          <p>SIRI is a European CEN standard for the exchange of Public Transport real time information.</p>
          <p>This sub-schema describes the Situation  Exchange  Service.</p>
        </Description>
        <Format>
          <MediaType>text/xml</MediaType>
          <Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
          <Description>XML schema, W3C Recommendation 2001</Description>
        </Format>
        <Identifier>{http://www.siri.org.uk/schemas/1.3}siri_SituationExchange_service.xsd</Identifier>
        <Language>[ISO 639-2/B] ENG</Language>
        <Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
        <Relation>
          <Requires>http://www.siri.org.uk/schemas/1.3/siri/siri_requests-v1.2.xsd</Requires>
          <Requires>http://www.siri.org.uk/schemas/1.3/siri/siri_situation-v1.0.xsd</Requires>
          <Requires>http://www.siri.org.uk/schemas/1.3/siri/siri_permissions-v1.1.xsd</Requires>
        </Relation>
        <Rights>Unclassified
                            <Copyright>CEN, VDV, RTIG  2004, 2007</Copyright></Rights>
        <Source>
          <ul>
            <li>Derived from the VDV, RTIG XML and Trident standards.</li>
            <li> categories from TPEG</li>
          </ul>
        </Source>
        <Status>Version 0.1 Draft for approval</Status>
        <Subject>
          <Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and road transport
</Category>
          <Project>CEN TC278 WG3 SG7</Project>
        </Subject>
        <Title>SIRI XML schema. Service Interface for Real Time Information relating to Public Transport Operations. Situation Exchange  Subschema </Title>
        <Type>Standard</Type>
      </Metadata>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:group name="SiriSituationExchangeServiceIndexGroup">
    <xsd:annotation>
      <xsd:documentation>Convenience artefact to pick out main elements of the Situation Exchange Service</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ref="SituationExchangeRequest" />
      <xsd:element ref="SituationExchangeSubscriptionRequest" />
      <xsd:element ref="SituationExchangeDelivery" />
      <xsd:sequence>
        <xsd:element ref="SituationExchangeCapabilitiesRequest" />
        <xsd:element ref="SituationExchangeCapabilitiesResponse" />
      </xsd:sequence>
    </xsd:sequence>
  </xsd:group>
  <xsd:element name="SituationExchangeRequest" substitutionGroup="AbstractFunctionalServiceRequest" type="SituationExchangeRequestStructure">
    <xsd:annotation>
      <xsd:documentation>Request for information about Facilities status</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="SituationExchangeRequestStructure">
    <xsd:annotation>
      <xsd:documentation>Service Request Type for Situation Exchange Service</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="AbstractFunctionalServiceRequestStructure">
        <xsd:sequence>
          <xsd:group ref="SituationExchangeTopicGroup" />
          <xsd:group ref="SituationExchangeRequestPolicyGroup" />
          <xsd:element minOccurs="0" ref="Extensions" />
        </xsd:sequence>
        <xsd:attribute fixed="1.3" name="version" type="VersionString" use="required">
          <xsd:annotation>
            <xsd:documentation>Version number of request. Fixed 
</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="SituationExchangeTopicGroup">
    <xsd:annotation>
      <xsd:documentation>Parameters that specify the content to be returned.  Logically ANDed with other values.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="PreviewInterval" type="PositiveDurationType">
        <xsd:annotation>
          <xsd:documentation>Forward duration for which Situations should be included, that is, only Situations that start before the end of this window time will be included </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="StartTime" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>Start time for for selecting Situations to be sent. Only Situatissn or updates created after this time will be sent. This enables a restart without resending everything</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:group ref="AffectedModeGroup" />
      <xsd:group ref="SituationClassifierFilterGroup" />
      <xsd:group ref="SituationStatusFilterGroup" />
      <xsd:group minOccurs="0" ref="SituationNetworkFilterGroup" />
      <xsd:group ref="SituationStopPlaceFilterGroup" />
      <xsd:group ref="SituationJourneyFilterGroup" />
      <xsd:group ref="SituationPlaceFilterGroup" />
      <xsd:element minOccurs="0" name="SituationRoadFilter">
        <xsd:annotation>
          <xsd:documentation>Parameters to filter Situation Exchange  requests, based on the situation Road. Logically ANDed with other values.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="RoadFilter" type="RoadFilterStructure" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="AccessibilityNeedFilter" type="acsb:PassengerAccessibilityNeedsStructure">
        <xsd:annotation>
          <xsd:documentation>Parameters to filter Situation Exchange  requests, based on specific needs .</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="SituationStatusFilterGroup">
    <xsd:annotation>
      <xsd:documentation>Parameters to filter Situation Exchange  requests, based on the situation  Status. Logically ANDed with other values.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Verification" type="VerificationStatusEnumeration">
        <xsd:annotation>
          <xsd:documentation>Whether incident has been verified or not If not specified return all</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" default="open" name="Progress" type="WorkflowStatusEnumeration">
        <xsd:annotation>
          <xsd:documentation>ProgressStatus. One of a specified set of overall processing states assigned to situation. For example, 'Draft' for not yet published; 'Published' for live situations;  'Closed' indicates a completed situation.  If not specified return open, published closing and closed. l</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Reality" type="D2LogicalModel:InformationStatusEnum">
        <xsd:annotation>
          <xsd:documentation>Whether situation is real or a test. If not specified return all</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="SituationNetworkFilterGroup">
    <xsd:annotation>
      <xsd:documentation>Parameters to filter Situation Exchange requests, based on the situation  Network. Logically ANDed with other values.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="OperatorRef" type="OperatorRefStructure">
        <xsd:annotation>
          <xsd:documentation>Identifier of Operator. If unspecified all operators.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="OperationalUnitRef" type="OperationalUnitRefStructure">
        <xsd:annotation>
          <xsd:documentation>Operational unit responsible for managing services.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="NetworkRef" type="OperatorRefStructure">
        <xsd:annotation>
          <xsd:documentation>Identifier of Network.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="LineRef" />
      <xsd:element minOccurs="0" ref="StopPointRef" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="ConnectionLinkRef" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="FacilityRef" />
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="SituationStopPlaceFilterGroup">
    <xsd:annotation>
      <xsd:documentation>Parameters to filter Situation Exchange requests, based on the situation  StopPlace. Logically ANDed with other values.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="StopPlaceRef" type="ifopt:StopPlaceRefStructure" />
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="SituationJourneyFilterGroup">
    <xsd:annotation>
      <xsd:documentation>Parameters to filter Situation Exchange requests, based on the situation  Journey. Logically ANDed with other values.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="VehicleJourneyRef" />
      <xsd:element minOccurs="0" ref="InterchangeRef" />
      <xsd:element minOccurs="0" ref="VehicleRef" />
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="SituationClassifierFilterGroup">
    <xsd:annotation>
      <xsd:documentation>Parameters to filter Situation Exchange  requests, based on the situation  Classifiers. Logically ANDed with other values.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Severity" type="SeverityEnumeration">
        <xsd:annotation>
          <xsd:documentation>Severity filter value to apply: only Situations with a severity greater than or equal to the specified value will be returned. See TPEG severities. Default is all.  </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Scope" type="ScopeTypeEnumeration">
        <xsd:annotation>
          <xsd:documentation>Types of Situation to include</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Predictability" type="PredictabilityEnumeration">
        <xsd:annotation>
          <xsd:documentation>Whether just planned, unplanned or both Situations will be returned.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Keywords" type="xsd:NMTOKENS">
        <xsd:annotation>
          <xsd:documentation>Arbitrary application specific classifiers. Only Situations that match these keywords will be returned</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="SituationPlaceFilterGroup">
    <xsd:annotation>
      <xsd:documentation>Parameters to filter Situation Exchange  requests, based on the situation Place. Logically ANDed with other values.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CountryRef" type="ifopt:CountryRefStructure">
        <xsd:annotation>
          <xsd:documentation>Unique identifier of a Country where incident takes place   If specified only incidentsto  that affect  this place country will be returned</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="PlaceRef" type="xsd:NMTOKEN">
        <xsd:annotation>
          <xsd:documentation>Identifier of Topographic Locality. Only incidents which are deemed to affect  this place will  be returned </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="2" name="Location" type="LocationStructure">
        <xsd:annotation>
          <xsd:documentation>Bounding box of an arbitrary area .  Only incidents geocoded as falliing within area will be included.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="RoadFilterStructure">
    <xsd:annotation>
      <xsd:documentation>Type for Parameters to filter Situation Exchange  requests, based on the situation RoadLogically ANDed with other values.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="roadNumber" type="D2LogicalModel:String">
        <xsd:annotation>
          <xsd:documentation>Identifier/number of the road on which the reference point is located.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="directionBound" type="D2LogicalModel:DirectionEnum">
        <xsd:annotation>
          <xsd:documentation>The direction at the reference point in terms of general destination direction. If absennt both</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="referencePointIdentifier" type="D2LogicalModel:String">
        <xsd:annotation>
          <xsd:documentation>Road reference point identifier, unique on the specified road.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:group name="SituationExchangeRequestPolicyGroup">
    <xsd:annotation>
      <xsd:documentation>Parameters that affect the request processing.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" default="en" name="Language" type="xsd:language">
        <xsd:annotation>
          <xsd:documentation>Preferred language in which to return  text  values.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="MaximumNumberOfSituationElements" type="xsd:positiveInteger">
        <xsd:annotation>
          <xsd:documentation>The maximum number of situation eleemnts to return in a given delivery. The most recent n  Events within the  look ahead window are included. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
  <xsd:element name="SituationExchangeSubscriptionRequest" substitutionGroup="AbstractFunctionalServiceSubscriptionRequest" type="SituationExchangeSubscriptionStructure">
    <xsd:annotation>
      <xsd:documentation>Request for a subscription to theSituation Exchange Service.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:group name="SituationExchangeSubscriptionPolicyGroup">
    <xsd:annotation>
      <xsd:documentation>Parameters that affect the subscription publishing and notification processing.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" default="false" name="IncrementalUpdates" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Whether the producer  will return the complete set of current data, or only only provide updates to this data, i.e. additions, modifications and deletions.
If false or omitted, each subscription response will contain the full information as specified in this request.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="SituationExchangeSubscriptionStructure">
    <xsd:annotation>
      <xsd:documentation>Data type for Subscription Request forSituation Exchange Service.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="AbstractSubscriptionStructure">
        <xsd:sequence>
          <xsd:element ref="SituationExchangeRequest" />
          <xsd:group ref="SituationExchangeSubscriptionPolicyGroup" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="SituationExchangeDelivery" substitutionGroup="AbstractFunctionalServiceDelivery" type="SituationExchangeDeliveryStructure">
    <xsd:annotation>
      <xsd:documentation>Delivery forSituation Exchange Service.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:group name="SituationExchangePayloadGroup">
    <xsd:annotation>
      <xsd:documentation>Payload part ofSituation Exchange delivery.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="PtSituationContext" type="ContextStructure">
        <xsd:annotation>
          <xsd:documentation>Default context for common properties of Situations, Values specified apply to all situations unless overridden.  Can be used optionally to reduce file bulk.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Situations">
        <xsd:annotation>
          <xsd:documentation>Situations in Delivery</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="PtSituationElement" type="PtSituationElementStructure">
              <xsd:annotation>
                <xsd:documentation>Description of an situation.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="unbounded" ref="RoadSituationElement" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="SituationExchangeDeliveryStructure">
    <xsd:annotation>
      <xsd:documentation>Data type for Delivery forSituation Exchange Service. Provides information about one or more vehicles; each has its own vehicle activity element.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="AbstractServiceDeliveryStructure">
        <xsd:sequence>
          <xsd:group ref="SituationExchangePayloadGroup">
            <xsd:annotation>
              <xsd:documentation>Payload part of Situation Exchange  delivery.</xsd:documentation>
            </xsd:annotation>
          </xsd:group>
          <xsd:element minOccurs="0" ref="Extensions" />
        </xsd:sequence>
        <xsd:attribute fixed="1.3" name="version" type="VersionString" use="required">
          <xsd:annotation>
            <xsd:documentation>Version number of response. Fixed 
</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ContextStructure">
    <xsd:annotation>
      <xsd:documentation>Common parameters for all situations.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CountryRef" type="ifopt:CountryRefStructure">
        <xsd:annotation>
          <xsd:documentation>Unique identifier of a Country of a Participant who published Situation.   </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ParticipantRef" type="ParticipantRefStructure">
        <xsd:annotation>
          <xsd:documentation>Unique identifier of system publishing siutuations.  If situations from other participants are included in delivery, then ParticipantRef of immediate publisher must be given here.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="TopographicPlaceRef" type="xsd:NMTOKEN">
        <xsd:annotation>
          <xsd:documentation>Identifier of Common Main  locality (In UK NRG Locality Code). Also Derivable from an individual  StopRef.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="TopographicPlaceName" type="NaturalLanguageStringStructure">
        <xsd:annotation>
          <xsd:documentation>Name of locality in which situations apply. Derivable from LocalityRef.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="DefaultLanguage" type="xsd:language">
        <xsd:annotation>
          <xsd:documentation>Default language of text.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="NetworkContext" type="NetworkContextStructure">
        <xsd:annotation>
          <xsd:documentation>Default context for common properties of Public Transport Situations</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Actions" type="ActionsStructure">
        <xsd:annotation>
          <xsd:documentation>Actions that apply to all situations unless overridden.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" ref="Extensions" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NetworkContextStructure">
    <xsd:annotation>
      <xsd:documentation>Type for shared context.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Operator" type="AffectedOperatorStructure">
        <xsd:annotation>
          <xsd:documentation>Default operator for situations.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Network" type="NetworkStructure">
        <xsd:annotation>
          <xsd:documentation>Default Network of affected lines. These avlues apply to all situations unless overridden on individual instances</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SituationExchangeDeliveriesStructure">
    <xsd:annotation>
      <xsd:documentation>Type for Deliveries forSituation Exchange services Used in WSDL.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" ref="SituationExchangeDelivery">
        <xsd:annotation>
          <xsd:documentation>Delviery for Vehicle Activity Service</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SituationExchangeCapabilitiesRequest" substitutionGroup="AbstractFunctionalServiceCapabilitiesRequest" type="ServiceCapabilitiesRequestStructure">
    <xsd:annotation>
      <xsd:documentation>Request for information aboutSituation Exchange Service Capabilities. Answered with a VehicleMontoringCapabilitiesResponse.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SituationExchangeCapabilitiesResponse" substitutionGroup="AbstractFunctionalServiceCapabilitiesResponse" type="SituationExchangeCapabilitiesResponseStructure">
    <xsd:annotation>
      <xsd:documentation>Capabilities forSituation Exchange Service. Answers a VehicleMontoringCapabilitiesRequest.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="SituationExchangeCapabilitiesResponseStructure">
    <xsd:annotation>
      <xsd:documentation>Data type for Delivery forSituation Exchange Service</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="AbstractServiceCapabilitiesResponseStructure">
        <xsd:sequence>
          <xsd:element minOccurs="0" ref="SituationExchangeServiceCapabilities" />
          <xsd:element minOccurs="0" ref="SituationExchangePermissions" />
          <xsd:element minOccurs="0" ref="Extensions" />
        </xsd:sequence>
        <xsd:attribute fixed="1.3" name="version" type="VersionString" use="required">
          <xsd:annotation>
            <xsd:documentation>Version number of response. Fixed 
</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="SituationExchangeServiceCapabilities" type="SituationExchangeServiceCapabilitiesStructure">
    <xsd:annotation>
      <xsd:documentation> Capabilities ofSituation Exchange Service.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="SituationExchangeServiceCapabilitiesStructure">
    <xsd:annotation>
      <xsd:documentation>Type forSituation Exchange Capabilities</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="AbstractCapabilitiesStructure">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="TopicFiltering">
            <xsd:annotation>
              <xsd:documentation>Filtering Capabilities. </xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element default="PT60M" name="DefaultPreviewInterval" type="PositiveDurationType">
                  <xsd:annotation>
                    <xsd:documentation>Default preview interval.  Default is 60 minutes.  </xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element ref="FilterByFacilityRef" />
                <xsd:element fixed="true" name="FilterByLocationRef" type="xsd:boolean">
                  <xsd:annotation>
                    <xsd:documentation>Whether results can be filtered by location. Fixed as true.</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" ref="FilterByVehicleRef" />
                <xsd:element minOccurs="0" ref="FilterByLineRef" />
                <xsd:element minOccurs="0" ref="FilterByStopPointRef" />
                <xsd:element minOccurs="0" ref="FilterByVehicleJourneyRef" />
                <xsd:element minOccurs="0" ref="FilterByConnectionLinkRef" />
                <xsd:element minOccurs="0" ref="FilterByInterchangeRef" />
                <xsd:element minOccurs="0" default="true" name="FilterBySpecificNeed" type="xsd:boolean">
                  <xsd:annotation>
                    <xsd:documentation>Whether results can be filtered by Specific Needs. Default is true.</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" name="RequestPolicy">
            <xsd:annotation>
              <xsd:documentation>Request Policiy capabilities.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:complexContent mixed="false">
                <xsd:extension base="CapabilityRequestPolicyStructure">
                  <xsd:sequence>
                    <xsd:group ref="SituationExchangeVolumeGroup" />
                  </xsd:sequence>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" name="SubscriptionPolicy" type="CapabilitySubscriptionPolicyStructure">
            <xsd:annotation>
              <xsd:documentation>Subscription Policy capabilities.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="AccessControl">
            <xsd:annotation>
              <xsd:documentation>Optional Access control capabilities.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:complexContent mixed="false">
                <xsd:extension base="CapabilityAccessControlStructure">
                  <xsd:sequence>
                    <xsd:element minOccurs="0" ref="CheckOperatorRef" />
                    <xsd:element minOccurs="0" ref="CheckLineRef" />
                  </xsd:sequence>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ResponseFeatures">
            <xsd:annotation>
              <xsd:documentation>Optional Response capabilities</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" default="false" name="HasRemedy" type="xsd:boolean">
                  <xsd:annotation>
                    <xsd:documentation>Whether result suppots remedy information Default is false</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" default="true" name="HasFacilityLocation" type="xsd:boolean">
                  <xsd:annotation>
                    <xsd:documentation>Whether result suppots facility location information Default is true</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" ref="Extensions" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="SituationExchangeVolumeGroup">
    <xsd:annotation>
      <xsd:documentation>Elements for volume control</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" default="false" name="HasMaximumFacilityStatus" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Whether a maximum number of Facitlity Status to include can be specified. Default is false.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
  <xsd:element name="SituationExchangePermissions">
    <xsd:annotation>
      <xsd:documentation>Participant's permissions to use the service.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent mixed="false">
        <xsd:extension base="PermissionsStructure">
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="SituationExchangePermission" type="SituationExchangeServicePermissionStructure" />
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="SituationExchangeServicePermissionStructure">
    <xsd:annotation>
      <xsd:documentation>Type for Situation Exchange  Service  Permissions</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="AbstractPermissionStructure">
        <xsd:sequence>
          <xsd:element ref="OperatorPermissions" />
          <xsd:element ref="LinePermissions" />
          <xsd:element minOccurs="0" ref="Extensions" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>